[2014-05-08 11:36] cpliakas opened #27 "Consider using the IETF API-Problem specification for error messages"
Cool module.

One recommendation is to consider adopting the IETF API-Problem specification for error messages. There is a good blog post at https://www.mnot.net/blog/2013/05/15/http_problem that gives an overview of why this is useful, and there is some tooling in PHP at https://github.com/Crell/ApiProblem to help facilitate rendering spec-compliant messages.

Thanks!
Chris

[2014-05-08 13:08] amitaibu commented on #27
Hi @cpliakas - thanks for visiting! :)

I think adding a library for outputting the response is a bit of overkill right now, and maybe our [current](https://github.com/Gizra/restful/blob/7.x-1.x/restful.module#L223-L230) implementation is enough.

If you think I miss the point feel free to re-open.

[2014-05-08 16:27] cpliakas commented on #27
Hi @amitaibu.

To clarify, I am advocating that this module adheres to the spec, I was simply pointing out that there is a library and don;t have much interest whether it is included in the module or not.

To be more specific, this module defines a custom error messaging format at https://github.com/Gizra/restful/blob/7.x-1.x/restful.module#L223. For DX it would be helpful if the output was someth

[2014-05-08 17:35] amitaibu commented on #27
Oh, ok, I now understand what you mean
Care to give it a shot? :)

[2014-05-11 19:37] amitaibu opened #31 "Use PATCH instead of PUT"
`PUT` was a mistake I meant `PATCH` ;)

[2014-05-18 09:10] snirs90 opened #34 "Add base taxonomy class"
Resources from entity type "taxonomy" need a separate taxonomy base class because the base class of "Node" have a property condition of `status` to expose only published nodes which taxonomy doesn't have.

[2014-05-23 11:56] #34 closed, assigned to nobody

[2014-05-23 14:50] e0ipso opened #38 "Add more (and better) authentication tests"

[2014-05-23 14:51] e0ipso opened #39 "Add basic auth provider."

[2014-05-24 17:20] e0ipso commented on #39
Moving conversation to PR #41.

[2014-05-24 17:20] #39 closed, assigned to nobody

[2014-05-24 18:03] #31 closed, assigned to nobody

[2014-05-24 18:03] amitaibu commented on #31
PATCH and PUT are already in.

[2014-05-24 18:29] amitaibu opened #42 "Token auth provider"
- I think we should add a submodule called `restful_token_auth` that will provide an endpoint to login/ register/ retrieve password via CURL.
- Response will return a token string.
- We can have a fieldable `token_auth` entity that will have the token info, along with the user it's related to, and the created/ expire info.

Once we have this we can create an example repo of a completely decoupled

[2014-05-27 19:15] amitaibu opened #47 "Add PHPdoct to restful_plugin_process()"

[2014-05-28 09:44] e0ipso commented on #42
I believe this is closed now. w00t!

[2014-05-28 09:44] #38 closed, assigned to nobody

[2014-05-28 09:51] #42 closed, assigned to nobody

[2014-05-28 11:25] e0ipso commented on #27
Please, move conversation to #49

[2014-05-28 18:58] amitaibu opened #50 "Add pagination support to getList()"
This will possibly also be the first time to introduce Hateoas - where we'll add links for the previous/ next links

[2014-05-29 07:47] amitaibu opened #52 "Add missing documentation for IETF API-Problem"
This is a follow up for #49

[2014-05-30 19:49] amitaibu opened #56 "Allow uploading files"

[2014-05-30 19:53] amitaibu commented on #56
from [flickr](https://www.flickr.com/services/api/upload.api.html)

I agree it shouldn't _appear_ as a REST endpoint (like we did token_auth) however by building it as a resource it would allow us to make it configurable + "protect" the endpoint with authentication providers

[2014-06-03 00:53] #50 closed, assigned to amitaibu

[2014-06-03 00:54] #47 closed, assigned to amitaibu

[2014-06-06 08:29] e0ipso opened #58 "Add a better delivery callback."
Using `drupal_json_output` as our delivery callback overwrites the `Content-Type` header hardcoding it to `application/json`. We want it to respect our custom `Content-Type` headers as long as it's of type json (`application/hal+json`, `application/problem+json`, …).

[2014-06-07 02:04] amitaibu commented on #58
You are right, we need to have our own delivery callback + add a test to prevent regression.

[2014-06-07 18:28] amitaibu commented on #58
Done

[2014-06-07 18:28] #58 closed, assigned to nobody

[2014-06-07 18:28] #27 closed, assigned to nobody

[2014-06-09 19:06] amitaibu opened #60 "Integrate with "Entity validator""
[Entity validator](https://github.com/Gizra/entity_validator) is a new (and still under lots of development) module we work on in Gizra, that I can think compliment RESTful, when it comes to validating a created/ updated entity.

cc @mateu-aguilo-bosch

[2014-06-09 19:20] e0ipso commented on #60
Oh! That's in line with the Entity constraints in D8. Are you familiar with them? Are you leveraging those?

The concept in general is very sexy, but it can get hairy.

[2014-06-09 19:23] amitaibu commented on #60
Yes, I know it. But no we're not using it, but we're not very far from the idea -- small methods that know how to validate a very tiny task. Still until D8, this can feel the gap.

(as a side note I can definitely see RESTful for D8 as well, since the REST module's concept is more inline with RestWs rather than RESTful).

[2014-06-09 19:23] e0ipso opened #61 "Pulse the community opinions on decoupling Drupal."
Maybe this is worth some reading/talks.

https://groups.drupal.org/headless-drupal

[2014-06-09 19:26] amitaibu commented on #61
Good idea. I was also advocating RESTful and [Zariz](https://github.com/Gizra/zariz) to anyone willing to hear about it in DrupalCon Austin. Maybe even to ones that didn't want to hear about it ;)

[2014-06-09 19:28] amitaibu commented on #61
@c4rl oh, somehow I missed telling _you_ about RESTful. Maybe because we were busy talking about Ubercart for D6?! ;)

[2014-06-09 20:30] e0ipso opened #62 "Get posted data for PUT and PATCH."

[2014-06-10 06:45] amitaibu opened #64 "Allow register to site"
I'd like to play with the idea of a completely decoupled register.

[2014-06-10 06:49] amitaibu opened #65 "Inject classes from plugin definition"
https://github.com/Gizra/restful/pull/53/files#r13242933

[2014-06-13 17:37] #62 closed, assigned to nobody

[2014-06-13 20:02] amitaibu opened #69 "When access is denied restful_json_output() gets wrong output"
If the access callback of the menu item returns FALSE, then the output would be 3 (which is actually `MENU_ACCESS_DENIED`) with status code 200.

We should call `drupal_deliver_html_page()` in case of int values.

[2014-06-14 20:47] #69 closed, assigned to nobody

[2014-06-18 09:32] shushu opened #73 "Avoid error message on empty property."
`field_uuid` information taken from `getPublicFields()` does not include `property`.
It includes only `callback`.

[code]

[2014-06-18 09:33] amitaibu commented on #73
What error are you getting? (The `property` is set to `FALSE` by default)

[2014-06-18 09:35] shushu commented on #73
![selection_114](https://cloud.githubusercontent.com/assets/99186/3312008/df6f7584-f6cb-11e3-84fd-240555c4eeb2.png)

[2014-06-18 09:53] amitaibu commented on #73
But I see it does -- https://github.com/openscholar/openscholar/pull/6048/files#diff-07a84f267f9ded25775667f3eeef3ff9R59

[2014-06-24 05:58] e0ipso opened #82 "Use rate-limit for flood control on base_auth authentication provider."
See [here](https://github.com/Gizra/restful/blob/b6c9419814210bd1386ce069aa83ca00f4f3478d/plugins/authentication/RestfulAuthenticationBasic.class.php#L31)

[2014-06-24 07:31] e0ipso opened #83 "Use namespaces to simplify class names."
Class names are getting crazy lately. Maybe we should start thinking about adding a root namespace `\Restful` and then `use` it everywhere. Deeper nesting can also provide some clarity.

Maybe we'll need to depend on xhautoload, but I think that would be an overkill at this point.

@amitaibu thoughts?

[2014-06-24 17:40] amitaibu opened #84 "Add a bit of docs about rate limit"
cause they are needed :)

[2014-06-25 07:46] amitaibu opened #86 "Solve in a more generic way setting "format" for text fields on POST"
https://github.com/Gizra/restful/pull/74/files#r14169608

[2014-06-25 17:35] amitaibu opened #88 "Add test for the file upload"
Follow up for #79

[2014-06-26 09:46] amitaibu opened #91 "Copy file_save_upload() to get better error details"
https://github.com/Gizra/restful/blob/7b8502ae74f9ab841bcf17ce8ffeed4873c1315b/plugins/restful/file/files_upload/1.0/RestfulFilesUpload.class.php#L51

`file_save_upload()` isn't API friendly. The errors are sent via `drupal_set_message()`.
We could copy file_save_upload() and run the validations ourself, so when we hit a validation error we'll have better error messages.

[2014-06-26 14:01] e0ipso commented on #91
+1

I also feel that there is a lot of cruft related to configuration that we don't need, so we could be simplifying it as well.

[2014-06-26 18:46] amitaibu commented on #91
You mean the variables to get the file-upload feature working? If so, It's for security reasons.

[2014-06-29 14:50] RoySegall opened #92 "Validate the entity with the entity validate module"
We already using the [Entity validate](https://github.com/gizra/entity_validator) module in OpenScholar. I think this can be good addition. Dependent PR: https://github.com/Gizra/entity_validator/pull/8

[2014-07-03 14:00] cpliakas opened #96 "Add an HMAC authentication API provider"
This might be in the realm of a contributed add-on, but it would be great to implement an HMAC authentication provider to give a more secure option than HTTP basic authentication or session-based authentication. Acquia recently released an open-source library to facilitate implement such a system at https://github.com/acquia/hmac-request.

Thanks in advance for your consideration,
Chris

[2014-07-03 19:01] amitaibu opened #97 "Pass $wrapper to RestfulEntityBase::entityPreSave()"
Instead of the entity itself. Like we do for RestfulEntityBase::entityValidate()

[2014-07-03 20:40] klausi opened #98 "CSRF security vulnerabilty on write operations with session cookies"
Since this module does not have a stable release on drupal.org yet I think it is fine to report security issues in public (see our policy https://www.drupal.org/security-advisory-policy ).

I have not looked to closely at the code and have not tried to exploit this yet, but I think there could be a CSRF vulnerability on write operations such as POST, PUT and DELETE requests when using session cook

[2014-07-04 10:39] amitaibu commented on #98
Thanks @klausi indeed we are not doing this yet. Started work on #99

[2014-07-06 07:53] ran81 opened #101 "Allow empty values in patch and put requests."
When using the patch() or put() methods to update an entity there's no way to empty a field's value in case of a field with cardinality of 1. In the function `setProperyValues()` we check:
`if (!isset($request[$public_property]))`
And if we send a value of NULL we skip this property and we get an exception later on.

Note that for fields that are multiple this works fine by sending `array(NULL)` i

[2014-07-06 08:14] shushu opened #102 "Clean restful installation on clean D7 creates an irrelevant menu item"
See
![selection_024](https://cloud.githubusercontent.com/assets/99186/3488461/7da2eb06-04e5-11e4-857b-fcf5ff83290e.png)

[2014-07-06 08:33] amitaibu commented on #102
PRs are welcome :) Probably changing the menu type in `hook_menu()`

[2014-07-06 08:39] amitaibu commented on #101
Thanks, can you provide a PR?

[2014-07-06 10:04] shushu commented on #101
Update: restful can empty values when set to `$null_missing_fields=TRUE`.
I tested on clean D7 with restful installed and with Postman client. When sending an entity without one of the public fields, it will put null into it, and I was able to empty a list<text> field this way.
Note: I was using `restful example` module, which uses the `RestfulEntityBase::putEntity()` that set `null_missing_fields

[2014-07-06 10:12] ran81 commented on #101
@shushu

I understand that empty fields should not be sent at all in the request. That is fine for creation of nodes but for update of nodes we should be able to hit an end point with an empty value and clearing the field.

[2014-07-06 10:16] amitaibu commented on #101
in that case you can check `$request[$public_property] === NULL`

[2014-07-06 17:37] amitaibu commented on #98
Merged, thanks @klausi :)

[2014-07-06 17:37] #98 closed, assigned to nobody

[2014-07-08 14:36] amitaibu commented on #91
Assigned to @snirs90. Happy contribution hour :)

[2014-07-08 14:38] amitaibu commented on #64
closing for now.

[2014-07-08 14:38] #64 closed, assigned to nobody

[2014-07-11 09:07] e0ipso commented on #83
@amitaibu do you think this is something worth looking into it?

[2014-07-12 18:03] amitaibu opened #104 "Inject file validators and scheme from the plugin"
https://github.com/Gizra/restful/pull/79#discussion_r14813306

[2014-07-12 18:04] amitaibu opened #105 "Genreal rate limit"
Currently our rate limit is per resource.
It would be nicer to be able to say, like Github has, you may access any resource up to 5000 in total.

[2014-07-12 19:33] e0ipso commented on #105
I like the idea. I'm wondering where to do this since we don't have a controller for all the handlers.

[2014-07-12 19:34] amitaibu commented on #105
maybe a variable?

[2014-07-13 07:01] amitaibu commented on #83
Yeah, lets keep it simple. For now it think this can be postponed.

[2014-07-13 07:05] amitaibu opened #107 "Remove advanced help?"
@mateu-aguilo-bosch I'm thinking out loud. Should we keep the advanced help  -- currently the docs are a todo, which is fine, I just wonder if they'll ever be something that would be valuable for users.

Maybe if it was easy to assign a customisable link so they would direct to help.example.com?

[2014-07-13 13:59] e0ipso commented on #107
One of the requirements of IETF API-Problem is o provide URLs with resources explaining what the problem is, which I think is a great UX idea.

Advanced Help seemed to me a great framework to do just that since it's just adding some `*.ini` and a couple of HTMLs. Also, there is no requirement for it. If the site does not have the module enabled the is no error.

[2014-07-14 06:35] amitaibu opened #109 "Allow creating sub-resources in a single request"
For example, if we have a node that reference a new term, currently you need 2 requests: one to create the term, and the other to create the node that references it.

Since RESTful already has an option to map a resource to an entity-reference field, we could save that extra request.

This one is a little hard, as if one entity isn't valid, it should fail the others, so we might opt for a `db_tran

[2014-07-14 08:51] #88 closed, assigned to e0ipso

[2014-07-14 08:51] e0ipso commented on #88
See #110.

[2014-07-14 12:05] bojanz opened #111 "Questions around OAuth2 integration"
I'm looking into integrating oauth2_server and Restful.

Problem #1
Restful's fancy error handling.
oauth2_server_verify_access() likes to do that by itself (output 401 + the json body with additional info), that comes from the underlying library mostly.
Now, there are only a few possible errors, so I could translate that into what a restful user would expect, but it wouldn't be consistent with th

[2014-07-14 16:42] amitaibu commented on #107
ok, lets keep it :)

[2014-07-14 16:42] #107 closed, assigned to nobody

[2014-07-19 18:14] e0ipso commented on #105
Working on this.

[2014-07-20 20:30] amitaibu commented on #111
@mateu-aguilo-bosch you seem to have more OAuth experience ^^

[2014-07-20 20:31] amitaibu opened #116 "Self Documenting REST API"
Would be nice to have something as @larowlan did for D8's REST https://www.drupal.org/project/rest_api_doc

[2014-07-20 20:43] larowlan commented on #116
Happy to pool notes
On 21/07/2014 6:31 am, "Amitai Burstein" notifications@github.com wrote:

[2014-07-21 13:49] amitaibu opened #117 "Port to D8"
This should be done probably only after we've reached an alpha -- which I feel we're pretty close.

I'm just putting a name here. not implying anything. @fubhy :)

[2014-07-27 20:52] #109 closed, assigned to nobody

[2014-07-27 20:52] #104 closed, assigned to amitaibu

[2014-07-27 20:52] #92 closed, assigned to nobody

[2014-07-27 20:53] amitaibu commented on #61
Posted some Headless Drupal posts in that group. I think RESTful is getting some attention now :)

[2014-07-27 20:53] #61 closed, assigned to nobody

[2014-07-27 20:53] #56 closed, assigned to nobody

[2014-07-27 20:53] #60 closed, assigned to amitaibu

[2014-07-27 20:54] #97 closed, assigned to nobody

[2014-07-28 08:47] amitaibu commented on #111
@bojanz @mateu-aguilo-bosch

I think inconsiderate by consistent would be better. Maybe we  can try/ catch the errors thrown by oauth, and `$e->getMessage()` the original error message.

I was thinking about adding a feature to allow specifiying more options per endpoint, for example:

[code]

So the access could be moved to it's own method per endpoint.

[2014-07-28 08:49] amitaibu commented on #102
@shushu can you please provide a PR on your daily contribution hour.

[2014-07-28 08:51] amitaibu commented on #96
@cpliakas maybe it's better creating a contrib module for this? Are you planning to work on this?

[2014-07-28 10:12] e0ipso commented on #105
Closed in favor of #121

[2014-07-28 10:12] #105 closed, assigned to e0ipso

[2014-07-28 10:12] e0ipso commented on #84
Closed in favor of #105.

[2014-07-28 10:12] #84 closed, assigned to e0ipso

[2014-07-28 10:44] e0ipso commented on #111
+1

[2014-07-28 11:39] shushu commented on #102
np, tomorrow.

[2014-07-30 06:01] amitaibu opened #124 "Allow filtering getList()"
[code]

[2014-08-15 14:04] cpliakas commented on #96
@amitaibu, yes I have an intern working on this as a contributed module. Will close the issue and post a link to the repository / module when it is ready.

Thanks!
Chris

[2014-08-15 14:04] #96 closed, assigned to nobody

[2014-08-17 07:06] RoySegall commented on #117
We already have the branch. I think the porting process won't take long since most of the module is written in OOP

[2014-08-19 07:17] RoySegall commented on #117
All the plugins converted to the new plugin system. The next thing to do is porting the hook_menu to the new routing system. I start to work on something: https://github.com/Gizra/restful/blob/8.x-1.x/src/Routing/RouteSubscriber.php#L27

[2014-08-28 09:47] e0ipso opened #127 "Create output plugin for output format flexibility."
I think RESTful should be opinionated about the output format. A variation of [JSON API](http://jsonapi.org/) is my preferred format and I'd like to see the module following that. The only I'd like to have with it is that I think that when getting a specific single item we should not be returning an array with only one item but an object. I also like having `"data"` as a common object key for … we

[2014-08-29 17:35] amitaibu commented on #127
Indeed, that's what #126 is doing, and I think it's ok to "force" it. If someone insists on changing them they can override the needed methods.

Let's avoid this for now. Or put differently, lets consider this when someone asks for it, for a _real_ use case :)

Please re-open if you feel strongly about it.

[2014-08-29 17:36] amitaibu commented on #127
Oh, I saw in your comment you are already working on this, so re-opening. I might be missing your point?

[2014-08-29 17:37] amitaibu commented on #127
What's your use case for this?

[2014-08-29 17:42] e0ipso commented on #127
@amitaibu imagine an EmberJS that gets you very far in client side if your API is returning JSON in a specific format. Imagine some dev that has to implement an API that has already a test suite built around a specific output format, if we don't allow overriding they may need to look somewhere else for the API.

[2014-08-29 17:43] amitaibu commented on #127
I can only imagine AngularJs ;)
Ok, as always, your point is valid! :)

[2014-08-29 17:44] e0ipso commented on #127
hahaha. AngularJS is the best.

[2014-08-31 18:33] #102 closed, assigned to nobody

[2014-08-31 18:33] amitaibu commented on #83
Namespaces will be used in the D8 version.

[2014-08-31 18:33] #83 closed, assigned to nobody

[2014-08-31 18:34] amitaibu commented on #101
Is this still and issue? Please re-open if so.

[2014-08-31 18:34] #101 closed, assigned to nobody

[2014-09-01 13:59] e0ipso commented on #127
Closed in favor of https://github.com/Gizra/restful/pull/129

[2014-09-01 13:59] #127 closed, assigned to e0ipso

[2014-09-01 14:00] e0ipso commented on #82
Actually, on second thoughts I think this is fine.

[2014-09-01 14:00] #82 closed, assigned to nobody

[2014-09-02 07:01] RoySegall commented on #117
well.. We got something:
![selection_064](https://cloud.githubusercontent.com/assets/1222368/4114848/faf3374e-326e-11e4-8187-8b75c383f557.png)

[2014-09-02 07:11] amitaibu commented on #117
אלוף!

btw, Just from looking at the URL the correct should be v1 (the minor version is passed in the HTTP headers)

[2014-09-02 07:30] amitaibu commented on #117
@mateu-aguilo-bosch what do you say that after we get #129 in, we tag an alpha, and then start helping @RoySegall with D8, hopefully getting it ready for DrupalCon?

On cc the rest of the geeks that might help us @fubhy @joshk @c4rl ;)

[2014-09-02 07:32] joshk commented on #117
Are you sure you meant to cc me?

[2014-09-02 07:35] amitaibu commented on #117
@joshk oops, sorry but, thanks for Travis-CI ;).
I meant @joshkoenig

[2014-09-02 07:43] joshk commented on #117
My pleasure :)

[2014-09-02 07:46] amitaibu commented on #117
... and @scottrigby as well :)

[2014-09-02 08:11] e0ipso opened #132 "Refactor RestfulEntityBase into RestfulBase"
Move everything that is not entity related to `RestfulBase`.

[2014-09-02 08:12] e0ipso opened #133 "Move header logic to formatter."
In order to keep thinks self-contained move the response header stuff into the formatter (maybe `RestfulBase`?).

This depends on: https://github.com/Gizra/restful/issues/132

[2014-09-02 08:42] e0ipso commented on #117
/me :heart: Travis-CI.

@amitaibu I feel that a D8 version for DCon is a great marketing effort. But I also feel that there are several key features yet to be discovered for the D7 version. The first thing that comes to my mind is Mime Type negotiation (now that we support different output formats), but I'm sure there are several more.

With all that I'll say that your plan sounds right, but I'd w

[2014-09-02 08:55] amitaibu commented on #117
Indeed, marketing is important  - (also, don't tell them, I'm secretly trying to get more contributors to the project :wink: )

My take is that it's better to start early, and "chase" D7 (along with chasing D8...). As it is RESTful is already pretty big, so there are a lot of parts I think we can already tackle in order to save time for later.

[2014-09-02 17:13] e0ipso opened #134 "Provide image style integration for image fields."
The idea is to have some extra configuration for the image fields (maybe also think of a generic way to have extra config for fields with nice helper methods) that will list an array of image styles.

That way we can output different image urls for different sizes. I think this is important b/c client apps usually are not great at resizing images and also there's bandwidth to consider.

So when we

[2014-09-02 17:21] amitaibu commented on #134
I've done something like this - see [here](https://github.com/Gizra/garmentbox/blob/overhaul-1/garmentbox/modules/custom/gb_restful/plugins/restful/node/item_variants/1.0/GbItemVariantsResource.class.php#L29) and [here](https://github.com/Gizra/garmentbox/blob/overhaul-1/garmentbox/modules/custom/gb_restful/gb_restful.module#L46)

Do you think we should have something similar to `gb_restful_get_im

[2014-09-02 17:29] e0ipso commented on #134
@amitaibu that approach makes a lot of sense. I'm good with closing this issue with a documentation PR or something more baked in.

[2014-09-04 06:40] shushu opened #136 "Error due to "rate_limit" entity type does not exist on 8.x-1.x"
1. Installing last D8 alpha.
2. Cloning restful and enabling restful and restful example modules.
   Gives a fatal error:
   ![selection_273](https://cloud.githubusercontent.com/assets/99186/4145706/5a69f25e-33fe-11e4-9995-e0c87586ad6e.png)
   And in the log we get:
   [Thu Sep 04 09:33:28 2014] [error] [client 127.0.0.1] Uncaught PHP Exception Drupal\Component\Plugin\Exception\PluginNotFoundExcep

[2014-09-04 06:55] amitaibu commented on #136
Yeah 8.x is wip. Roy can you please rename the branch so it won't be confusing (maybe port-8)

‫ב-4 בספט 2014, בשעה 09:40, ‏Shushu Inbar notifications@github.com כתב/ה:‬

[2014-09-07 06:43] amitaibu opened #137 "Allow "X-HTTP-Method-Override""
For clients that don't have PATCH/ PUT

[2014-09-07 06:43] #136 closed, assigned to nobody

[2014-09-07 13:22] amitaibu commented on #137
Closed in favor of #138

[2014-09-07 13:22] #137 closed, assigned to amitaibu

[2014-09-07 18:34] e0ipso opened #139 "Request of a single asset should not yield pagination and count results."
- [x] Make sure that no count or pagination links are returned.
- [x] Add test coverage.

Related to #129.

[2014-09-08 12:18] e0ipso commented on #139
Closed in favor of #140.

[2014-09-08 13:23] #139 closed, assigned to nobody

[2014-09-08 13:23] #124 closed, assigned to amitaibu

[2014-09-10 09:43] e0ipso commented on #132
Closed in favor of #143.

[2014-09-10 09:43] #132 closed, assigned to nobody

[2014-09-10 11:45] amitaibu commented on #134
Closed in favor of #142

[2014-09-10 11:45] #134 closed, assigned to nobody

[2014-09-12 10:52] #73 closed, assigned to nobody

[2014-09-12 17:28] amitaibu opened #148 "Improve the logic of imageProcess and image_styles"
@mateu-aguilo-bosch
Currently the new image_styles will work only if one would implement something similar to `\RestfulExampleArticlesResource__1_5::imageProcess()`.

Maybe we should move `imageProcess()` to the base class as-well?

[2014-09-12 17:41] amitaibu opened #149 ""count" property doesn't take filters into account"
For example:

![local_garmentbox_www_api_v1_items_filter_company__2-2](https://cloud.githubusercontent.com/assets/125707/4253745/dd46d60a-3aa3-11e4-9fbc-6f08de4729ad.jpg)

[2014-09-12 19:25] e0ipso commented on #148
I don't think that you **need** the `imageProcess`. As is it will add an array of derivatives to the `$file_array`, what you do with that is up to you. You could want to output it as is.

[2014-09-14 14:57] e0ipso opened #152 "Return 401 for missing user instead of 403."

[2014-09-14 19:12] amitaibu opened #158 "Prepare for release"
@mateu-aguilo-bosch

I'd like to suggest an approach for getting release/ RC/ Beta or whatever we decide to call it out:

I've added a "release blocker" label, so both you and I can mark freely the issues we want to tackle.
Let's time-box the effort by setting a soft limit to the end of Sep (i.e. the beginning of DrupalCon Amsterdam).

Que pensas?

[2014-09-14 19:12] amitaibu commented on #152
just for user, or any entity?

[2014-09-15 06:40] e0ipso commented on #152
This is not-a-bug.

401 is set via:
https://github.com/Gizra/restful/blob/7.x-1.x/plugins/authentication/RestfulAuthenticationManager.php#L91 and then https://github.com/Gizra/restful/blob/7.x-1.x/exceptions/RestfulUnauthorizedException.php#L15

[2014-09-15 06:40] #152 closed, assigned to nobody

[2014-09-15 06:41] e0ipso commented on #158
:+1:

[2014-09-15 06:41] e0ipso commented on #116
This could be a contrib that depends on `restful` as well.

[2014-09-15 06:45] e0ipso commented on #52
This could be a good novice task.

We need to do some Google and copy and paste the appropriate information in the following HTML static pages:
- help/problem-instances-bad-request.html
- help/problem-instances-flood.html
- help/problem-instances-forbidden.html
- help/problem-instances-gone.html
- help/problem-instances-service-unavailable.html
- help/problem-instances-unauthorized.html
- help/pro

[2014-09-15 07:02] amitaibu commented on #116
And possibly using another library that already does it. An important feature no doubt..

‫ב-15 בספט 2014, בשעה 09:41, ‏Mateu Aguiló Bosch notifications@github.com כתב/ה:‬

[2014-09-15 08:54] #149 closed, assigned to nobody

[2014-09-15 09:06] amitaibu opened #159 "Hijack api/* to be under RESTful"
Imagine a client calling a non existing resource (e.g. api/v1/article -- instead of articles).

Currently the result is HTML with a 404.
I would expect RESTful to take control and return a proper JSON response.

[2014-09-15 09:21] e0ipso commented on #159
Good idea.

[2014-09-16 20:28] mike-potter commented on #158
Don't mean to hijack anything, but I've got to say I am _very_ excited to see this module.  It has a very good chance of getting added to Open Atrium since it follows most all of the best practices that I've been looking for in an API helper for Drupal 7.  Great work on this guys!  Sorry I won't be at Amsterdam to celebrate the release, but will be watching drupal.org.

[2014-09-17 05:35] e0ipso commented on #158
Thanks @mike-potter! It is very encouraging getting to hear your nice words. The goal here will be to remove the _most_ from your comment :smiley:

[2014-09-17 05:58] #159 closed, assigned to nobody

[2014-09-17 09:18] amitaibu opened #163 "Move publicFieldInfo static"
https://github.com/Gizra/restful/pull/156/files#r17653314

[2014-09-17 17:59] amitaibu opened #164 "Review and set to RTBC Entity API Patches"
@mateu-aguilo-bosch : https://github.com/Gizra/restful#module-dependencies

(This is a release blocker)

/cc @fago :)

[2014-09-23 17:25] MuschPusch opened #168 "render taxonomy tree's"
Hey, i'm wondering how to render parts of a taxonomy tree. To give an example:

_Endpoint: api/v1/tree/_
- 1
- \- 2
- \- 3
- \- - 4
- \- - 5
- \- 6

_Endpoint: api/v1/tree/3_
- \- 3
- \- - 4
- \- - 5
  etc.

I already found out i can overwrite getQueryForList for fetching all parents with something similar to what taxonomy_get_children does but how do i achieve to get the nested output as return v

[2014-09-24 08:13] d34dman commented on #168
From what i understand endpoint api/v1/tree/3 would fetch the entity with id 3.
you would have to do something like api/v1/tree?parent=3
and override the public function getList()  to recognise your custom filter.

[2014-09-24 08:23] e0ipso commented on #168
From what I can see there are 2 different things that you need to accomplish. Your custom restful plugin will need to list the term and its parent id.

[code]

And then the prepare function of your custom formatter should read the values in that and transform them into the appropriate output.

[code]

[2014-09-24 09:26] e0ipso commented on #164
Done.

[2014-09-24 09:26] #164 closed, assigned to nobody

[2014-09-25 18:54] amitaibu opened #169 "Find/ document best practices for RESTful in front of Solr/ Elastic search"
Maybe this one should be discussed in DrupalCon Amsterdam, but I think it's worth starting in writing.

My use case is a fully decoupled web app, that uses Drupal as the backend.
Drupal has Solr integration + facets, which I'd like to expose to the web app.
Here's a silly example of how a search page will look in Drupal itself:

`foo-search/black?f[0]=title%3Ablack&f[1]=author%3A1`
![item-search__

[2014-09-25 19:02] amitaibu commented on #169
cc @cpliakas as he's around this issue queue from time to time as-well ;)

[2014-09-26 06:00] e0ipso commented on #169
I guess that kind of falls outside of the RESTful definition and is more an RPC. That being said I don't see a big problem on declaring searchable resources, just like I don't see big problems on having `views` powered resources or even SQL query driven resources.

We have done pretty cool stuff with **child plugins**, and that would be one way to go (just like the system declares a resource for e

[2014-09-26 09:37] amitaibu commented on #169
The resource would probably map to the Search API index entity.

No hard requirements. I'm just thinking of a typical scenario, and try to figure what's the best way to approach it. What I like about the work we've done in RESTful is that it's always accompanied with real cases -- and example modules as solutions.

@mateu-aguilo-bosch are you coming to Amsterdam?

[2014-09-26 12:33] e0ipso commented on #169
Absolutely. Should we try to recruit some helping hands there?

[2014-09-26 16:13] cpliakas commented on #169
This is a great thread, thanks for mentioning me. I do know that @nickveenhof is in Amsterdam, might be worth tracking him down as I am sure he would be interested in this topic.

[2014-09-28 10:48] amitaibu opened #170 "api/session/token doesn't work with token auth"
`api/session/token` expects a logged in user, but we don't log in the user on the token auth.

Maybe we should login the user, like it already happens with the cookie auth?
Or should we convert `api/session/token` to be a restful plugin, so getAccount() will recognize the user?

Or both? :)

[2014-09-28 15:13] ceoaliongroo opened #171 "Missing feature setter for sub_property"
We try to set any sub_property for the property field_address  but look like missing:

[code]

![screen shot 2014-09-28 at 6 11 02 pm](https://cloud.githubusercontent.com/assets/2622152/4434704/dc9e037e-4721-11e4-9f9b-3a7408795470.png)

[2014-09-29 13:27] amitaibu opened #176 "Wrong meta-data delivered on entity-create"
POST `api/v1/articles`:

[code]

`count` and `_links` are wrong.

[2014-10-02 11:05] amitaibu commented on #168
Seems resolved. Re-open if needed.

[2014-10-02 11:05] #168 closed, assigned to nobody

[2014-10-02 11:05] #148 closed, assigned to nobody

[2014-10-06 07:42] #170 closed, assigned to nobody

[2014-10-06 07:42] #91 closed, assigned to nobody

[2014-10-06 07:42] #176 closed, assigned to e0ipso

[2014-10-06 11:32] e0ipso commented on #111
@bojanz, @amitaibu specifiying more options per endpoint has been already implemented. Does this unblock this?

https://github.com/Gizra/restful/pull/141

[2014-10-06 11:32] e0ipso commented on #86
I'm not sure I get this issue.

[2014-10-07 10:58] e0ipso opened #180 "Allow specifying more options per field (e.g. access callback)"
See https://github.com/Gizra/restful/pull/141#issuecomment-57993393

[2014-10-08 05:52] #171 closed, assigned to nobody

[2014-10-08 06:04] e0ipso opened #181 "Implement the Access-Control-Allow-Origin header specification."
See: http://www.w3.org/TR/2008/WD-access-control-20080912/#access-control-allow-origin-header

[2014-10-08 12:47] e0ipso opened #182 "Mirror the README in Drupal.org"
When you hit https://www.drupal.org/project/restful you see nothing. You should see something very similar to what it's on https://github.com/Gizra/restful

[2014-10-08 18:04] amitaibu commented on #182
I'm not sure if it's an effort worth taking -- as it's more then copy & paste, since Drupal.org doesn't support markdown.

Also, IMO it's fine just having a link here - so it's clear Github is the place where the things happen.

[2014-10-11 19:06] amitaibu opened #185 "Add helper methods to set request for API"
Currently we pass the sort, filter and fileds via the $request array e.g. `$handler->get('', $request)`.

It would probably be a better DX to have those as methods.

e.g.

[code]

Also, we could implement __toString, to get the http request that should be used.

@mateu-aguilo-bosch what do you think?

[2014-10-11 19:44] e0ipso commented on #185
That's awesome. I'm all in for it. Especially the __toString

[2014-10-13 17:58] amitaibu opened #186 "Make our HAL+JSON more HAL compliant"
http://stateless.co/hal_specification.html

Seriously @mirzu, this issue has your name all over it! :)

[2014-10-13 19:36] amitaibu commented on #182
Closing. Re-open if you feel strongly about it :)

[2014-10-13 19:36] #182 closed, assigned to nobody

[2014-10-13 19:37] amitaibu commented on #180
closing in favor of #184

[2014-10-13 19:37] #180 closed, assigned to amitaibu

[2014-10-13 19:38] amitaibu commented on #111
@bojanz are you still interested (+ have time) in trying to tackle this?

[2014-10-14 05:51] e0ipso commented on #182
It's OK. I feel that we need something more over there to capture the eye's attention, but maybe we don't need a 1:1 copy.

[2014-10-14 06:12] e0ipso commented on #65
On second thought I don't think that we need this. I don't really see a use case where we may want to use a different authentication manager. The manager will just execute the authentication plugins in turns. I feel that if we can come up with something that the current authentication manager cannot do, we should accommodate that into the existing manager.

Feel free to re-open.

[2014-10-14 06:12] #65 closed, assigned to e0ipso

[2014-10-14 06:15] e0ipso commented on #169
I am going to start tacking this in baby steps. Since we're adding a layer of abstraction here, it is very probable that parts of the plugin definition, or even the API shift a bit.

I will probably break this into different issues, some of them will be release blockers.

[2014-10-14 06:21] e0ipso opened #187 "Allow different data providers."
From https://github.com/Gizra/restful/issues/169

Right now we are just querying the database using EFQ. We need to make that one of the possible alternatives (and make it the preferred/default one).

By doing so we will:
1. Identify places where we need to abstract code.
2. Make the RestfulInterface more solid.
3. Reorganize plugin definitions.

[2014-10-14 15:23] markdorison opened #190 "Add documentation for filtering a list via API/URL."
Related: #178

[2014-10-14 15:27] markdorison commented on #190
Fixed in 946663af7da1a27b18801c469b093131d4a82973.

[2014-10-14 15:27] #190 closed, assigned to nobody

[2014-10-14 18:30] amitaibu opened #191 "Implement ng-admin as a (real use case) example"
Apart of a good example, ng-admin sounds like it's doing a lot of heavy lifting. If we'll put a login in front of it, this is a good step to the holy grail of decoupled admins.

I've already had some [problems](https://github.com/marmelab/ng-admin/issues/75) on installation, but admittedly I didn't invest too much time there yet.

[2014-10-14 18:31] amitaibu commented on #191
@davidhwang you don't get to sit this one out :)

[2014-10-16 10:53] e0ipso opened #192 "Give more context to chained access callbacks at field level."
This discussion started here:

https://github.com/Gizra/restful/pull/184/files#r18810281

[2014-10-16 19:44] amitaibu commented on #191
Now that there's a [demo](https://github.com/marmelab/ng-admin-demo) repo for ng-admin, I was able to get the first step

![angular_admin-4](https://cloud.githubusercontent.com/assets/125707/4669286/c7923cf8-556c-11e4-86bd-8db3261e5af0.jpg)

[2014-10-16 19:51] amitaibu commented on #186
@mateu-aguilo-bosch @mirzu do we need to start by removing the "data" wrapper from the HAL-JSON formatter plugin?

![local_d7_dev_api_v1_articles_](https://cloud.githubusercontent.com/assets/125707/4669346/6d32119c-556d-11e4-94a7-5ad3e5b84bf7.jpg)

(See the ng-admin [issue](https://github.com/marmelab/ng-admin/issues/86) that made me think of it)

[2014-10-16 20:09] amitaibu commented on #186
Ignore above comment, seems wrapping with `data` is a common practice.

[2014-10-16 21:03] mirzu commented on #186
I'm curious to see other examples where data is used to list embedded resources.

From the specification it looks like what we are wrapping in data belongs in the reserved property "_embedded" The reason for using _embedded is that API client libraries will treat _embedded as a list of resources that can potentially be followed, rendered etc,  while they will treat data a property.

 The reserved

[2014-10-16 21:20] mirzu commented on #186
More thoughts:
The way we are doing it isn't invalid, but using embedded for lists of resources would be better.

Wrapping the properties in a data object isn't bad, but I'm curious to know what we gain by doing so.

Wrapping _embdedded in data along with properties would be bad.

[2014-10-18 14:36] e0ipso commented on #187
Closed in favor of #189.

[2014-10-18 14:36] #187 closed, assigned to nobody

[2014-10-18 14:37] e0ipso commented on #181
Merged in #183.

[2014-10-18 14:37] #181 closed, assigned to nobody

[2014-10-18 14:42] e0ipso commented on #191
I think that to make a game-changing & kick-ass AngularJS component we need more automatic discovery tools. I can see how you can make an OPTIONS call to the server for a particular endpoint and you get in return the information about the fields that you can get/set for every method.

This way the client side application can build forms **without knowing anything about the API in advance!**. This

[2014-10-18 18:19] amitaibu opened #196 "Improve variables handling"
Not to block #189, I've opened a new issue:
1. api/v1/variables/wrong-key -- should throw an exception
2. Add "self" link
3. Add access callback
4. Show the unserialized value

![local_d7_dev_api_v1_variables-3](https://cloud.githubusercontent.com/assets/125707/4690658/4d44fc8c-56f3-11e4-853f-0906f324f356.jpg)

[2014-10-18 19:31] amitaibu commented on #186
@mirzu , the examples I've seen were not HAL specific. But in my case, the fact that we wrap our data with `data` was very handy, as I just had to point ng-admin to the correct key, rather then ignoring other root level keys.

[2014-10-18 19:40] amitaibu commented on #192
I don't think RESTful should take care of it. You can always have a master function, that will orchestrate and chain all the access results.

[2014-10-19 07:04] amitaibu commented on #191
1. Take it in steps. ng-admin is already doing a lot of heavy lifting, so I wouldn't want to start from scratch
2. Get Drupal people excited about it
3. Get ng-admin people excited about it
4. Standardize and profit :)

[2014-10-19 10:46] e0ipso opened #197 "Discovery fields filtered by HTTP method."
Take care of which fields are available for a certain user (also, be explicit about the fact that those are the fields **for that user**).

This comes off of https://github.com/Gizra/restful/pull/194/files#r19055018

[2014-10-19 11:16] e0ipso commented on #191
That's awesome, I need to read more about that.

Working on it…

Not sure how to do that. Maybe you have ideas…

I think this is a key (unspoken) point. I tried to find standards to follow after every idea I had so we can get things for free (even if we don't know what are those things). Good profit to come behind this project, let's try to deliver and keep the hype high.

[2014-10-19 11:20] amitaibu commented on #191
Profit in point 4 == Getting more people on board. Monetary stuff are a bonus ;)

[2014-10-19 11:29] e0ipso commented on #191
Yeah, I realized a long time ago that monetary profit is something that doesn't drive motivation. I also meant profit as in rewarding experiences in general.

[2014-10-19 15:19] #192 closed, assigned to nobody

[2014-10-20 03:25] davidhwang commented on #191
Thanks for the ping, amitaibu -- this looks _very_ promising. I'll be sure to give it a spin.

[2014-10-20 18:28] mirzu commented on #191
So this might be relvelent to this thread:
http://mirzu.fourword.webchefs.org/hal-browser/browser.html#/api/v1/blogposts/142

https://github.com/mikekelly/hal-browser is a ng-admin type thing that is specific to HAL. It's a simple html file that is 0 config for a HAL / HATEOAS api.

The 4K blog needs a bunch of work before it implements everything that this browser is aware of, but here is a full

[2014-10-20 18:30] mirzu commented on #186
One reason to make the API follow HAL conventions more closely is this little gem:

It's a HAL specific ng-admin type thing that is 100% drop in 0 config if you implement enough of the features.
Example that is on it's way: http://mirzu.fourword.webchefs.org/hal-browser/browser.html#/api/v1/blogposts/142
Source: https://github.com/mikekelly/hal-browser
Full Example: http://haltalk.herokuapp.com/ex

[2014-10-20 19:29] amitaibu commented on #186
Seems to be password protected ;)

hal-browser looks cool. #200 is probably to help there as-well.

[2014-10-20 20:06] mirzu commented on #186
Shouldn't need a username and password anymore.

On Mon, Oct 20, 2014 at 2:29 PM, Amitai Burstein notifications@github.com
wrote:

##

Michal Minecki
DevOps Track Lead | Drupalcon Austin 2014
Director of Technology | Four Kitchens
  | mike@fourkitchens.com
  | +1 512 870 8441 (direct)
  | +1 562 551 8775 (cell)

Four Kitchens:  We make BIG websites
  | http://www.fourkitchens.com
  | +1 512 454 66

[2014-10-23 10:43] e0ipso opened #201 "Refactor version negotiation."
Comes from:

https://github.com/Gizra/restful/pull/195#issuecomment-60211736

[2014-10-25 19:12] amitaibu opened #207 "api/error-resource is no longer treated correctly"
`Fatal error: Call to a member function getMethod() on a non-object in ../restful/restful.module on line757`

[2014-10-25 19:18] amitaibu commented on #207
I'll also improve the `testNotFoundDelivery` test case, as obviously it didn't catch the regression.

[2014-10-25 20:15] amitaibu opened #210 "Regression in example child plugins"
![local_d7_dev_api-3](https://cloud.githubusercontent.com/assets/125707/4780990/65deaed8-5c83-11e4-828c-f154d6616f00.jpg)

Also, when I click on `api/v1.0/anonymous-user` I expected to get only nodes with anonymous roles.

![local_d7_dev_api_v1 0_anonymous-user](https://cloud.githubusercontent.com/assets/125707/4780993/88f864cc-5c83-11e4-946d-281d4a4ccfaa.jpg)

[2014-10-25 20:20] amitaibu commented on #86
When you POST the values of a text field (e.g. the `body` field) restful currently [hardcodes](https://github.com/Gizra/restful/blob/2ac0d366b32de111cd3af0b3ca8e5a659480f800/plugins/restful/RestfulEntityBase.php#L774) the input format to be `fitlered_html`. This is of course very naive - as `filtered_html` might not be there, or a privileged user might want to POST it as `full_html`.

[2014-10-26 09:30] e0ipso opened #214 "Only display the latest resource on the discovery endpoint."
See: https://github.com/Gizra/restful/pull/200#issuecomment-60497108

[2014-10-26 10:40] e0ipso commented on #210
True, we should work adapt the variations in the children generation function.

[2014-10-26 17:31] e0ipso opened #217 "Update the main documentation."
@amitaibu I propose changing:

by _This module achieves a practical RESTful for Drupal with the best practises_

I really like the _best practises_ and _practical_ mantra. To me these are the core values of this module.

Would you agree?

cc @mirzu

[2014-10-26 17:31] e0ipso commented on #201
This is done with a lot of sweat.

[2014-10-26 17:31] #201 closed, assigned to nobody

[2014-10-26 17:32] e0ipso commented on #196
Closed in favor of https://github.com/Gizra/restful/pull/211

[2014-10-26 17:32] #196 closed, assigned to nobody

[2014-10-26 18:18] amitaibu commented on #217
Funny, I was just thinking about thus yesterday. Yeah, change is needed + we've probably implemented more than that post suggested. Still, it gave a good start :)

‫ב-26 באוק 2014, בשעה 19:31, ‏Mateu Aguiló Bosch notifications@github.com כתב/ה:‬

[2014-10-26 18:32] #207 closed, assigned to amitaibu

[2014-10-27 07:20] e0ipso opened #219 "Move the self property into the _links section."
See https://github.com/Gizra/restful/issues/186#issuecomment-59830785

[2014-10-27 07:21] e0ipso commented on #186
I see [here](https://github.com/mikekelly/hal-browser#about-hal) that the `self` property should be in the `_links` section (which makes a lot of sense). I created https://github.com/Gizra/restful/issues/219 for that.

[2014-10-27 07:24] amitaibu commented on #219
Seems we will need to add some kind of a addHateoas() per entity/ row -- not only for lists; Or do you have another idea?

[2014-10-28 20:00] amitaibu opened #221 "Enforce X-Csrf-Token only for cookies and base auth"
Token auth for example doesn't need it.

[2014-10-28 20:01] amitaibu opened #222 "Provide an expireable token auth"
Currently token auth creates an entity that doesn't expire. I believe we should provide also an `expire` bundle + the cron job to expire it.

[2014-10-28 20:35] amitaibu commented on #186
HAL advocates for discovery and easy learning of the API while using the API. We have improved the discovery, and need to think about ways to inject human readable hints to the response.

Now I'd like to better understand why HAL is better than what we have.

Here's an example of our current structure for `api/articles`, assuming we have a single article that references a single page.

Existing:

[2014-10-29 09:58] e0ipso commented on #186
As with everything it's debatable what's best or worst. You have to balance the goods and bads to this as well.

HAL allows you to conserve bandwidth by optionally embedding link payloads in the original request. HAL also provides a scalable way of organizing complex data structures.

Even thought that is super nice, I don't believe it's a common practise. That's why we need to be explicit about i

[2014-10-29 17:34] mirzu commented on #186
I've been thinking about this all morning and trying to make sure I'm clear in my own head.

1.) This is somewhat arbitrary, and interoperability should trump arbitrary. Therefore we should stick with the standard, and if that standard is HAL we should embrace it wholeheartedly, write a new standard, or attempt to change the standard.

The biggest takeaway from all the API design talks and books I

[2014-10-29 18:29] amitaibu commented on #186
Thanks for the answers folks!

I agree that choosing a "good enough" yet popular standard is the way to go. Since RESTful has been challenging quite a few of the concepts other Drupal modules had, I wanted to make sure we were not jumping to HAL without paying careful attention to it.

Now for the technical part - we need to figure out how to add HAL integration without necessarily forcing it on o

[2014-10-29 18:34] e0ipso commented on #186
I was thinking about adding some sort of generic metadata that is offered to the formatters to use. Maybe similar to how we're handling the `$request` "object". Just dump an structured array and make the necessary assumptions when reading it in the formatter. We can be more structured later if we see the point.

[2014-10-29 18:36] amitaibu commented on #186
Not sure I get what you mean... :)

[2014-10-29 20:06] mirzu commented on #186
I was thinking the same thing!

$data would be an object that had properties, instead of just a hash. I
think there is a generic subset of classifications that we can use as an
abstraction that the different formats all share. I think they are:
$properties -> nakid properties in hal
$links -> _link
$embedded -> _embedded

Which nicely corresponds to HAL. I just looked at Siren:
$properties -> prop

[2014-10-30 10:53] amitaibu commented on #221
Looking at the code it seems we currently enforce it only for cookies. I'll check further.

[2014-10-31 16:08] mirzu commented on #186
collection+json:
$properties -> attributes
$links -> links
$embedded -> collection?

From a quick read through the collection+json is really designed to work as always having a list list of items so things are always "embedded."

JSON-LD
um no. Just no. So complicated, so abstract that it's not really worth exploring.

[2014-11-01 19:11] wundo commented on #111
What is the status of the oAuth2 Integration?

This is a sine qua non for using this on @chuva-inc projects

[2014-11-02 11:37] e0ipso commented on #111
@wundo unfortunately I don't think that there's any effort happening at this moment.

Maybe it's your chance for a contribution? :smiley:

[2014-11-02 11:37] e0ipso commented on #111
Also, it would be amazing that @chuva-inc provided some kind of support for this contribution!

[2014-11-02 12:57] amitaibu opened #227 "Allow defining a resource a property reference"
e.g. we should be able to define the `uid` as the user resource.

[2014-11-02 19:23] RoySegall opened #229 "When creating entity using - the self property no longer lead to the created node. Why?"
As the title discover after creating an entity, node for example, the JSON that return used to holds the url of that node. That was useful because i was able to redirect the user to the new node. Is there a way to to bring it back or the new [approach](http://www.gizra.com/content/restful-discovery/) with the self property will block the feature request?

[2014-11-02 20:18] amitaibu commented on #229
You can add another public field (e.g. url ) that will be like the old self

‫ב-2 בנוב 2014, בשעה 21:23, ‏Roy Segall notifications@github.com כתב/ה:‬

[2014-11-03 21:00] #229 closed, assigned to nobody

[2014-11-03 21:00] #227 closed, assigned to amitaibu

[2014-11-03 21:47] mirzu commented on #219
I made this work with the "reference implementation" AKA giant hack I've been working on. When I got down to it having those addHateoas at the collection level didn't feel right and I see potential issues down the line. I think a better approach would be to process each individual item and then feed those into the collection resource already formatted. Basically make the collections work more like

[2014-11-03 21:48] mirzu commented on #214
I think this can be closed. . . right?

[2014-11-04 08:59] #214 closed, assigned to amitaibu

[2014-11-04 09:04] amitaibu commented on #186
Ok, I have a suggestion for approach:
1. On the formatter handler we will add a prepareRow() method, that will process a single result.
2. Since there are multiple implementations it is going to be hard (as in impossible) to keep the `publidFieldsInfo()` deceleration completely formatter agnostic.
   For `HAL` Things like `_embedded` could be automatically taken if the public field has a `resource

[2014-11-04 09:05] amitaibu commented on #219
@mirzu I've added my approach in https://github.com/Gizra/restful/issues/186#issuecomment-61610985

[2014-11-04 09:59] e0ipso commented on #186
@amitaibu, @mirzu I think that the formatter options belong to the formatter plugin. I feel that this is getting a bit more complicated than it needs to be. For me, the principle is **restful**: _we want to be able generate a structured array with data to send to the consumer_, **formatter**: _can take an structured array and format it in the desired format_. I don't see the intrinsic dependency b

[2014-11-04 10:02] amitaibu commented on #186
how would you deal with curies?

[2014-11-04 10:28] e0ipso commented on #186
Curies are information about the different related resources. We already have that available to us (introduced in the discovery effort). We can bring that information in and format it as curies (adding the missing bits first if necessary).

Ultimately it will boil down to add some metadata to the field, as you suggest, but I'd rather have meaningful information that can be reused by several subsys

[2014-11-04 12:10] amitaibu commented on #186
To answer https://github.com/Gizra/restful/pull/230#issuecomment-61617237

Seems to me that trying to tackle this one should help you get your Saturday travels productive :P

[2014-11-04 13:38] mirzu opened #232 "Implement curries as a complement to OPTIONS"
Sending OPTIONS is great for building clients that automatically get the info, and curies provide a great way to have human readable docs generated in addition to the OPTIONS docs.

I would imagine that this would require a number of tasks, but it looks like the options stuff is most of the info that would be in the curries.

Tasks:

Make a new menu item api-docs/{rel}?
Add the curies prefix to li

[2014-11-04 13:45] mirzu commented on #186
restful: we want to be able generate a structured array with data to send to the consumer
I think our lives will be much easier in the **formatter** if our structured array has some structure.

That structure can come from the above suggestion or it can be an object in which each item has properties for some maybe all of the stuff in the publicFieldsInfo and info about the processed field.

There

[2014-11-04 13:56] amitaibu commented on #232
That should be optional, as I don't think we need to assume the docs being served from Drupal. I would personally probably build a Jekyll site for docs, so the curies should be able to reference remote URLs.

[2014-11-04 14:20] mirzu commented on #232
Then maybe make a documentation formatter so we can support both?

On Tue, Nov 4, 2014 at 7:56 AM, Amitai Burstein notifications@github.com
wrote:

##

Michal Minecki
DevOps Track Lead | Drupalcon Austin 2014
Director of Technology | Four Kitchens
  | mike@fourkitchens.com
  | +1 512 870 8441 (direct)
  | +1 562 551 8775 (cell)

Four Kitchens:  We make BIG websites
  | http://www.fourkitchens.com

[2014-11-04 15:35] mirzu opened #233 "New entity reference breaks taxonomy term handling, I think."
500 Error: Unknown data property field_blog_categories_term_tree.

For a public fields declaration:

[code]

I think it's because we are sending $item_wrapper which is a wrapper for each taxonomy term to getValueFromResource() but treating like it's the outer entity wrapper when calling getTargetTypeFromEntityReference  $wrapper->{$property}

[2014-11-04 18:45] amitaibu commented on #233
closed in favor of #234

[2014-11-04 18:45] #233 closed, assigned to amitaibu

[2014-11-05 08:06] #217 closed, assigned to nobody

[2014-11-05 15:58] mirzu opened #235 "HAL: Links should be objects, not strings"
_links should be
right now we have

[code]

Should be:

[code]

It should be keyed by the links "rel" and each key can be either a single object or an array of objects.

Links should be a direct property of the resource and not contained in a "data" object.

There are number of properties that are specified for link objects. The spec:
https://tools.ietf.org/html/draft-kelly-json-hal-06#section-5

[2014-11-05 16:06] mirzu opened #236 "HAL: Use _embedded or _links for all linked resources."
Right now HAL clients can't follow resource links to referenced resources because the links are contained in an object that isn't one of _embedded or _links.

There is a trade off because the HAL way is harder to grok for folks that are not familiar with the Grammar of the format.

[code]

Should be:

[code]

[2014-11-05 16:10] mirzu opened #237 "HAL: /api should have it's links in the _links object"
The API "homepage" should include all links in the _links so that HAL clients can use the links. The links should be keyed by their "rel"

kinda like:

[code]

[2014-11-05 16:40] mirzu commented on #186
So my "hack" to make an example that is more HAL compliant is here:
http://mirzu.fourword.webchefs.org:8080/api/v1/blogposts
HAL Browser here:
http://mirzu.fourword.webchefs.org:8080/hal-browser/browser.html#/api

(Use :8080, :80 will give you a login link)

The changes I have made to the restful module are here:
https://github.com/fourkitchens/restful/pull/1/files

The example module that uses th

[2014-11-05 18:15] amitaibu commented on #186
I agree with this, for the following reasons:
As @mirzu stated, this is becoming a standard, and is already adopted by D8.
But I think that RESTful is in a point that it doesn't only follow best practices, but in fact helps shape them. So, if RESTful will ship with a strict HAL formatter, people will be "forced" to follow the best practice.
The `RestfulFormatterBase` could be the same of what we c

[2014-11-05 18:47] amitaibu commented on #186
Admittedly I have second thoughts about making HAL the _default_ formatter.

I would like to be able to use HAL, but for new comers / ppl who just want to get a clean JSON (as actually I currently do in all my project), having a clean JSON + with little metadata would look more appealing.

[2014-11-05 21:14] amitaibu commented on #186
Had some time to think about why HAL should be added, but _not_ as default formatter:
1. Are there examples of big sites, such as Github, flickr, twitter that already HAL? No.
2. Do you have a _real_ use case where HAL would _greatly_ be better than our "simple" json? I personally don't
3. Would client side be easier to work with the received data, and would it be easier for front end developers t

[2014-11-05 22:01] amitaibu commented on #186
See #238

[2014-11-07 23:05] mirzu opened #239 "If access check fails for one resource in a list the whole list is permission denied."
If one user on a site is blocked the whole list of users won't show up.

[2014-11-08 05:22] e0ipso commented on #239
My bet is that we should do like we do with properties with access denied, remove them.

[2014-11-08 07:37] e0ipso commented on #222
Closed in favor of #230

[2014-11-08 07:37] #222 closed, assigned to e0ipso

[2014-11-08 18:36] amitaibu commented on #239
Yes, we should ignore them, unless specifically asked for that idea.

So if `/api/articles` -- just skip the unaccessible entity (btw, this means that the `count` property would be wrong).

But if `/api/articles?id=1,2,3` un ID 3 is un-acecssible, we should throw an error.

[2014-11-08 19:11] amitaibu commented on #239
@mirzu care to create a PR :)

[2014-11-09 03:23] e0ipso commented on #239
Closed in favor of https://github.com/Gizra/restful/pull/242

[2014-11-09 03:23] #239 closed, assigned to nobody

[2014-11-09 08:09] ceoaliongroo opened #245 "Custom headers expect prefix HTTP_X_"
- When a request is send it with a custom header

![screen shot 2014-11-09 at 9 59 53 am](https://cloud.githubusercontent.com/assets/2622152/4966828/2632bc2e-67e7-11e4-9835-71e55d4e2335.png)
- The restful token auth module look for the header with a prefix HTTP_X_

https://github.com/Gizra/restful/blob/7.x-1.x/modules/restful_token_auth/restful_token_auth.module#L26
- But the server set the custom

[2014-11-12 15:14] e0ipso commented on #186
@amitaibu good arguments, you made me switch my mind. I just want to make sure HAL is not buried somewhere that no one uses.

Maybe it's time for a UI that exposes all these variables and give a preponderant place for this one?

@amitaibu, @mirzu thoughts?

[2014-11-12 15:16] amitaibu commented on #186
Cool, I'm ok with a settings page

‫ב-12 בנוב 2014, בשעה 17:14, ‏Mateu Aguiló Bosch notifications@github.com כתב/ה:‬

[2014-11-13 10:38] BurningDog opened #248 "Documentation and admin screen needed for allowing file uploads"
File uploads are only allowed if the drupal variable `restful_file_upload` is set to TRUE. While this is documented in the restful_angular_example README it's not mentioned elsewhere. I think there should be an admin screen for setting this variable and perhaps documenting this in the main README.

Yes?

[2014-11-13 10:50] amitaibu commented on #248
Yes, we are planning that. Care to create the PR? :)

[2014-11-13 21:03] raphaeltraviss opened #250 "Ability to declare a default sort"
Currently, we can view sorted results via my.restful.tld/endpoint?sort=somefield.

It would be nice if we could declare this in restful endpoint plugin definition, similar to publicFieldsInfo(), something like:

[code]

Then perhaps RestfulDataProviderEFQ->getQueryForList() could check for and apply these values if there is no sort in the requested URL?

[2014-11-13 21:07] amitaibu commented on #250
You mean you would like to define a _default_ sort?

[2014-11-13 21:21] raphaeltraviss commented on #250
Yeah; for example: if an endpoint /myresource always needs to be sorted by the 'name' property, you would need to append ?sort=name to every GET request.  It would be nice to simply do a GET /myresource, and have the default sort be something of your choosing, rather than the entity id.  You could always override this by passing in ?sort=name in the request.

Maybe we could do something similar fo

[2014-11-13 21:33] amitaibu commented on #250
Yes, exactly my thoughts.
I think we can have a `getDefaultSorts()` and `getDefaultsFilters()` that you will be able to override. @rfx1007 sounds like a great thing for you to work on ;)

[2014-11-14 05:37] raphaeltraviss commented on #250
ok, let's give this a try: :sparkles: [pull request](https://github.com/Gizra/restful/pull/251) :sparkles:

Also, another thing I noticed is that a 'field filter' is different than a 'field limiter'--it tripped me up at first.  What I actually wanted were field limiters.

[2014-11-14 21:28] amitaibu commented on #248
Closing n favor of #252. @BurningDog #252 is currently still WIP -- would you like to take it from here?

[2014-11-14 21:28] #248 closed, assigned to nobody

[2014-11-17 13:00] #245 closed, assigned to nobody

[2014-11-18 17:02] mirzu commented on #237
@patrickocoffeyo this is one of the tickets I mentioned last night. . .

[2014-11-18 17:07] mirzu commented on #186
Hi Mateo and Amitai I want to introduce @patrickocoffeyo a Web Chef who luckily mentioned he wanted to find awesome open source projects to help out on. I can't think of a better project I've mentioned him in a couple of issues that I think might be good ways to toe in. . .

[2014-11-18 19:03] amitaibu opened #259 "Returned API version on header is missing a 0"
`api/v2.0/articles` results with: `X-API-Version:v2.`

[2014-11-20 09:09] e0ipso commented on #237
Me waves to @patrickocoffeyo and welcomes him in.

Make sure to have your default output format set to hal+json, since the default is set to simple JSON. Also, you probably want to base your work off #256 (which is about to be merged).

[2014-11-20 18:49] amitaibu opened #260 "HAL+JSON: Curie docs"
Currently we are using a default curie URL is none passed in the plugin. We can either remove it, or maybe integrate with advanced help?

[2014-11-21 07:28] e0ipso commented on #260
I like the idea of using advanced help, since we are (supposedly) already doing that with the fancy error handling.

Although, maybe the implementor should be the one responsible for filling this one in… There is not much we can say about their curie, right?

A possible alternative would be, provide an example module that has the necessary file structure expected by Advanced Help, but even then th

[2014-11-21 07:32] e0ipso commented on #260
Ideas? @amitaibu @mirzu

[2014-11-21 07:55] e0ipso commented on #186
I'm so sorry I missed this message while I was away. Please, come in Patrick and have fun!

[2014-11-21 07:56] e0ipso commented on #186
Also, I think that after merging #256, we can close this one.

[2014-11-21 07:56] #186 closed, assigned to nobody

[2014-11-22 19:28] eethann opened #262 "Add a recipe book page to the github wiki"
We recently implemented a variation on URL paths using restful and have what could be a useful recipe to share with the community. I've forked the project and created a [recipes wiki page](https://github.com/eethann/restful/wiki/Recipes-for-Using-restful).

I can't submit a PR for that page, so am using this issue instead. There's some documentation on [merging wiki pages via git](http://roman-iva

[2014-11-23 07:53] e0ipso commented on #262
I'd love to see those in a book page in the Drupal.org documentation somewhere.

Thank you for that great recipe!

[2014-11-23 18:00] eethann commented on #262
Sure! Is there an existing D.o docs section for restful?

[2014-11-23 19:26] e0ipso commented on #262
There is one now! :-D

https://www.drupal.org/node/2380679

Thanks again!

[2014-11-23 19:27] e0ipso opened #267 "Review d.o documentation book page."
https://www.drupal.org/node/2380679

[2014-11-23 20:40] amitaibu commented on #262
@eethann thanks! I've updated a bit the code in the doc.

[2014-11-24 20:38] #237 closed, assigned to nobody

[2014-11-24 20:38] #236 closed, assigned to nobody

[2014-11-24 20:40] #235 closed, assigned to nobody

[2014-11-24 20:40] amitaibu commented on #221
Works as expected.

[2014-11-24 20:40] #221 closed, assigned to amitaibu

[2014-11-25 07:35] e0ipso commented on #259
Closed in favor of #259.

[2014-11-25 07:35] #259 closed, assigned to nobody

[2014-11-25 07:36] e0ipso commented on #219
This is done.

[2014-11-25 07:36] #219 closed, assigned to nobody

[2014-11-25 07:41] e0ipso opened #271 "Content type negotiation broken."
![dhc 2014-11-25 08-41-17](https://cloud.githubusercontent.com/assets/1140906/5179535/e0c30302-747e-11e4-93c2-2d456768793a.png)

[2014-11-25 07:45] e0ipso commented on #271
Actually I just need to wake up.

![dhc 2014-11-25 08-45-32](https://cloud.githubusercontent.com/assets/1140906/5179568/731ca47e-747f-11e4-9004-21e470f4b480.png)

[2014-11-25 07:46] #271 closed, assigned to nobody

[2014-11-25 07:52] e0ipso commented on #111
I wish I had more knowledge around OAuth2 to tackle this. I think it can be a game changer for a lot of people (like @wundo).

@amitaibu any chance you can look into this one?

[2014-11-25 07:54] e0ipso commented on #158
@amitaibu I believe that after having merged https://github.com/Gizra/restful/pull/269 we'll be ready for a release candidate. Any objections?

cc/ @mike-potter @mirzu

[2014-11-25 18:40] #52 closed, assigned to nobody

[2014-11-25 18:40] amitaibu commented on #158
Cool, I'll tag `RC1`!

[2014-11-25 18:44] amitaibu commented on #158
- https://github.com/Gizra/restful/releases/tag/7.x-1.0-rc1
- https://www.drupal.org/node/2382023

@mateu-aguilo-bosch I didn't have anything smart to say in the release notes, maybe you will have a better idea :)

[2014-11-25 18:44] #158 closed, assigned to nobody

[2014-11-25 19:25] e0ipso opened #272 "Performance comparisons"
I'd like to benchmark the RESTful module and compare it against the popular: _Services_ and _RestWS_. After that I'd like to add in different render cache strategies into RESTful.

@amitaibu would you help me to describe a meaningful scenario?

[2014-11-26 06:57] e0ipso commented on #158
I don't have many smart things to say, but I have silly things to say.

[2014-11-26 09:56] e0ipso opened #273 "Count property is outside _links in HAL+JSON"
![articles 2014-11-26 10-56-12](https://cloud.githubusercontent.com/assets/1140906/5199289/dba02d78-755a-11e4-9584-a2aad7d60070.png)

[2014-11-28 18:44] amitaibu commented on #111
Apart of not knowing anything about Oauth(2), honestly, as much as I'd like to see it as part of RESTful, since I don't have a client work for it -- I'm currently not super motivated to personally do it. On the other hand, I promise to try and delegate it to someone else ;)

[2014-11-28 18:45] amitaibu commented on #111
Also @bojanz is just lazy - all he does is make e-commerce completely awesome :wink:

[2014-11-28 18:48] e0ipso commented on #111
Delegating is good! I actually feel it could be a separate contrib module.

On Fri, Nov 28, 2014, 19:45 Amitai Burstein notifications@github.com
wrote:

[2014-11-28 18:59] amitaibu opened #276 "\RestfulAuthenticationManager::getAccount isn't performent"
I'm also seeing getAccount getting a big hit, on a clean Drupal with 100 articles, and an auth user doing `api/v1.5/articles`

![xhgui__hierarchical_profiler_report_and_message_subscribe_email test_-_vlad_-___applications_mamp_htdocs_vlad_](https://cloud.githubusercontent.com/assets/125707/5231416/a992b5de-7740-11e4-8c22-1aca4c1ae03d.jpg)

`\RestfulAuthenticationManager::getAccount` us supposed to

[2014-11-28 19:12] e0ipso commented on #276
BTW I'm working on the cache ID generation performance.

[2014-11-28 21:54] amitaibu commented on #276
Closing, as indeed getAccount() isn't very slow -- unsurprisingly it's the 50 entities loading that takes time.

[2014-11-28 21:54] #276 closed, assigned to nobody

[2014-11-29 21:23] amitaibu opened #282 "Notice on \RestfulFormatterHalJson::moveReferencesToEmbeds"
I've seen a notice when I have my reference as an ID only:

[code]

[2014-11-30 16:46] e0ipso commented on #272
# Setup No Auth.

After installing a default drupal installation I generate 500 random articles using devel_generate. I have Dupal's page cache enabled and using `'VarnishCache'` as the cache backend. Every other cache is using `'MemCacheDrupal'`, that includes entity cache. No authentication method is used for any of the modules.

For all testing purposes, cache is considered warm.

## Scenario 1

[2014-11-30 16:51] e0ipso commented on #272
As you can see with this setup No Auth (pretty reasonable) Services is kicking our ass in performance. I don't even consider analyzing restws since it is not using page cache (and therefore not hitting Varnish in this setup).

In the other setup No Auth with Varnish by-pass, restws is kicking ass. RESTful comes last. I don't know how interesting is this comparison. Thoughts?

[2014-11-30 17:03] e0ipso commented on #169
Let's not forget about this issue.

[2014-11-30 21:08] amitaibu commented on #272
@mateu-aguilo-bosch the `results` links seems to be broken.
Also, would be cool if you could add the script you used to perform the test

[2014-11-30 21:10] amitaibu commented on #282
@mateu-aguilo-bosch @mirzu - If the referenced resource is shown only as ID, should we indeed move it to the `_embedded` - or should we keep it in place?

[2014-12-01 06:37] e0ipso commented on #282
I would say that an id is just a regular field, that is not the result of calling another resource. Therefore I would leave it in place, out of `_embedded`.

[2014-12-01 06:39] amitaibu commented on #282
Yeah, that was my same line of thought. Thanks.

‫ב-1 בדצמ 2014, בשעה 08:37, ‏Mateu Aguiló Bosch notifications@github.com כתב/ה:‬

[2014-12-01 07:07] e0ipso opened #286 "Deprecated bower dependencies."
https://github.com/angular-ui/ui-select2 is deprecated in favor of https://github.com/angular-ui/ui-select. We should use the _new_ one.

[2014-12-02 11:22] amitaibu commented on #286
well, it was a live repo when I wrote that code ;)

[2014-12-02 11:23] amitaibu commented on #267
Looks good

[2014-12-02 11:23] #267 closed, assigned to nobody

[2014-12-02 11:27] e0ipso commented on #286
Yeah, it happens a lot.

[2014-12-02 14:55] amitaibu opened #291 "Disable cache by default"
#285 wasn't such a good idea -- because now all my developers are confused why aren't their changes picked up. So I think we should go ahead an revert that PR.

[2014-12-02 15:04] e0ipso commented on #291
Hmm, I wonder if that may be fixed with a documentation patch then.

[2014-12-02 15:05] e0ipso commented on #291
Also, that must mean that the invalidation code is not working properly.

[2014-12-02 18:21] amitaibu commented on #291
I prefer to do it other way around -- in the docs tell the dev to enable cache. It took me few minutes myself to realize it's a caching "problem".

I don't think so, because I don't expect the system to know the anything changed in getPublicFields or in one of the callbacks.

[2014-12-03 06:49] e0ipso commented on #291
Gotcha!

:+1:

[2014-12-03 07:47] #291 closed, assigned to nobody

[2014-12-04 17:53] raphaeltraviss commented on #250
Pull request merged.

[2014-12-04 17:53] #250 closed, assigned to nobody

[2014-12-05 07:55] e0ipso opened #298 "Add default field limiters"
This comes off https://github.com/Gizra/restful/pull/294#issuecomment-65674900.

[2014-12-05 07:58] e0ipso opened #299 "Structure documentation"
The current docs are a **BIG** single page. Maybe we could have a `/docs` folder with the different sections.

The idea would be simplifying the README.md by moving pieces of documentation to its own file and link to those from the README.md.

[2014-12-05 07:58] e0ipso commented on #299
@rfx1007 you can also take this one, if this is something you'd like to work on.

[2014-12-05 08:14] amitaibu commented on #298
We already have something in the system -- you can _limit_ the output fields by setting `?fields` - so I'm not sure we need anything else here.

[2014-12-05 08:20] e0ipso commented on #298
So the idea is to be able to specify which fields to show _by default_. Right now the default is showing all fields, and that default is not configurable.

I'm not sure how useful is this feature, though…

[2014-12-05 08:26] amitaibu commented on #298
unless you add `access callback` on each public field - where you can have your own logic. So I think this issue can be closed.

[2014-12-05 08:26] #298 closed, assigned to nobody

[2014-12-05 16:32] tomflanagan opened #300 "Expose non Entity data."
Has any thoughts been given to exposing non Entity data such as menu items? If so what would be the best approach for this?

[2014-12-05 17:46] e0ipso commented on #300
You can leverage the [`RestfulDataProviderDbQuery`](https://github.com/Gizra/restful/blob/7.x-1.x/plugins/restful/RestfulDataProviderDbQuery.php) to make queries to whatever tables you want.

You can see an example in [here](https://github.com/Gizra/restful/tree/7.x-1.x/modules/restful_example/plugins/restful/db_query/variable/1.0).

Also, if you feel like it I would **really** appreciate if you w

[2014-12-08 15:37] raphaeltraviss commented on #299
Sure, I'll take this one.

[2014-12-09 10:51] e0ipso opened #304 "Allow specifying a path in the view mode mappings"
This will allow nested outputs.

This is a follow up from #302.

[2014-12-09 10:57] e0ipso opened #305 "Increase test coverage for view mode rendering"
Test error cases that should throw exceptions.

This is a follow up for #302.

[2014-12-09 11:21] e0ipso commented on #300
@tomflanagan did that help :arrow_up:?

[2014-12-09 15:37] rbran100 commented on #300
@RoySegall Double Yes! lets do this instead that is what I was trying to say yesterday.

[2014-12-09 16:12] tomflanagan commented on #300
@mateu-aguilo-bosch Yes it did. I am also going to look at writing RestfulDataProviderMenuItem.

[2014-12-09 16:14] amitaibu commented on #300
Hi @rbran100, good to see you around! ;)

[2014-12-10 10:11] e0ipso commented on #299
@rfx1007 great!

[2014-12-10 15:56] e0ipso opened #306 "Use xautoload to use namespaces."
I know we've talked about this before, but we have **a lot** of classes now. We are already doing namespaces when using names like `RestfulEntityBaseNode`, and I think that for sake of clarity that should be `Drupal\restful\Entity\Node`.

[2014-12-10 16:22] rbran100 opened #307 "Allow RestfulDataProviderDbQuery to use a table with a multi-column unique key"
Allow for data tables that do not have a single value key to be used.

Example:
Table with unique key:  type + id

[code]

The key for the item becomes the concatenation of the columns.

[code]

[2014-12-10 21:23] rbran100 opened #309 "Should Entity Cache Expiration call non-Entity handlers?"
Looking here: https://github.com/Gizra/restful/blob/7.x-1.x/includes/RestfulManager.php#L288

It seems like it should only be calling invalidate on handlers that extend RestfulEntityBaseNode?

Maybe I am missing how this works?

[2014-12-11 06:50] e0ipso commented on #309
Basically you can call `\RestfulManager::invalidateEntityCache($cid)` and it will load all handlers that implement a `cacheInvalidate` method to execute it on the `$cid`.

This process is data provider agnostic.

The implementation resides in `\Restfulbase#cacheInvalidate($cid)`, and gets inherited by all data providers.

[2014-12-11 07:04] amitaibu commented on #306
I'm still feeling pretty strongly against it - and as you have noticed, it's pretty rare for me to "feel strongly" about stuff ;)

Apart of the directory is there a big win here? My biggest concern is that it will keep users from using it. I know that if I would be presented with such a dependency, I would personally hesitate if not completely skip using it.

[2014-12-11 07:13] e0ipso commented on #306
It's OK, if you feel strongly about this then let's not do it.

[2014-12-11 07:13] #306 closed, assigned to nobody

[2014-12-11 12:49] RoySegall opened #310 "Integrate RestfulDataProviderDbQuery and entity validator"
We going to use restful in OpenScholar in order to create widget via rest calls. One of the problems that i found is that i can't have an validation with Entity validator since RestfulDataProviderDbQuery don't handle entities.

First i'll need to update entity validator that he can handle object that are not entities. Second i'll need to update RestfulDataProviderDbQuery controller.

@mateu-aguilo

[2014-12-11 12:52] amitaibu commented on #310
This should be opened first in Entity-validator. After that we can move the integration in RESTful itself.

[2014-12-11 14:35] #309 closed, assigned to nobody

[2014-12-12 07:43] e0ipso commented on #310
My only gut feeling is not to have 2 different APIs, one for entities and another for non-entities. Break backwards compatibility with an update path if necessary, but I don't think it will be.

[2014-12-12 07:43] e0ipso commented on #304
Not sure about the need of this one. @amitaibu thoughts?

[2014-12-12 07:53] e0ipso commented on #262
@eethann feel free to create child pages to that d.o documentation page when you have time to work on this.

Thanks again for your contribution!

[2014-12-13 12:12] t14 opened #313 "URL Alias"
Is it possible to make a Get request using the URL alias of an article (or other node type)?

[2014-12-13 12:20] e0ipso commented on #313
GET requests for entities rely on entity ids.

That being said you can find your node id from the url alias in Drupal by doing something _dirty_ like:

[code]

[2014-12-13 16:32] attiks opened #314 "Some questions"
Is any of the following available out of the box and if not is it possible to code it
- [ ] OR Filter on multiple values like ?filter[tag]=1,2
- [x] AND Filter on multiple values like ?filter[tag]=1+2
- [x] Add a custom end point like news_articles that prefilters on articles tagged with news, but allows extra filters as well
- [x] Related entities, similar like tags but generated by code
- [ ] Ca

[2014-12-13 16:41] e0ipso commented on #314
You can have all filters exposed to the URL or all filters disabled. This is per resource basis.

Right now, all conjunctions are considered ANDs.

Everything else is supported.

You have the total number of items to build a pager and hypermedia links to previous and next pages.

If you consider using this module after all I would be very glad if you wrote some kind of _success case_ / _module rev

[2014-12-13 17:46] attiks commented on #314
Thanks for the prompt response
- Can I expose a resource with custom filters?
- I assume I can add support for OR filters in code?

If we choose to use this (read if it is fast enough) I'll do a write up.

PS: Do you know if somebody already added support for commerce products?

[2014-12-13 17:54] e0ipso commented on #314
You can do pretty much anything in code. You just need to override the necessary methods in your resource class, which are really simple. This is a big deal for us. You get everything out of the box, but we let you override every small piece to meet even the craziest use case.

Sure, just declare your default filters.

You can override the method `getQueryForListFilter` iirc and add support for OR

[2014-12-13 18:48] amitaibu commented on #314
Hi @attiks

If you look at the example files - you will see adding support for commerce products is going to be pretty easy, as you just need to implement `publidFieldsInfo`.

[2014-12-14 11:01] amitaibu opened #316 "Update Travis and README for the new URL"

[2014-12-14 12:41] amitaibu commented on #316
https://github.com/RESTful-Drupal/restful/commit/c26b768aa22ea4f63e181fdacda86cd34519bdb5

[2014-12-14 12:41] #316 closed, assigned to nobody

[2014-12-14 14:14] e0ipso commented on #313
Did that work?

[2014-12-14 14:14] #313 closed, assigned to nobody

[2014-12-14 16:29] e0ipso commented on #169
We have now [restful_search_api](https://github.com/RESTful-Drupal/restful_search_api). Fuck yeah!

Includes:
- [x] Support for Search API searches.
- [x] Support for ranges and pagination.
- [x] Support for ordering.
- [x] Support for filtering.
- [x] Facet information on the search callback.

[2014-12-14 16:30] e0ipso commented on #169
@amitaibu feel free to treat [restful_search_api](https://github.com/RESTful-Drupal/restful_search_api) as your own.

[2014-12-14 18:32] t14 commented on #313
Thanks for your reply I have not had a chance to try this out yet. But it makes sense in theroy.
Where about (e.g in this modules example module) do you think your example above could be implemented?
What do you think about using a hook_menu_alter to achieve this.

Great module by the way, really like it

[2014-12-14 19:04] attiks commented on #314
I did some more testing, but I could not find how to properly add support for entity translation, looking at the article example:
- nl/api/v1.5/articles/5013 returns the nl body and nl title
- fr/api/v1.5/articles/5013 returns the NL body and the fr title

I guess it returns the nl body, because that is the original language

Using nl/api/v1.7/articles/5013, fr/api/v1.7/articles/5013 returns the r

[2014-12-14 20:12] amitaibu commented on #314
@attiks @mateu-aguilo-bosch  we should probably be language aware which we currently are not.
Question is thought if we shouldn't opt for outputting all the languages under a single field so `api/articles` should return

[code]

(Which I like better)

[2014-12-14 21:26] attiks commented on #314
@amitaibu not sure if outputting all the languages by default is the best way, but maybe it might be a config option, I think outputting all languages can already be done in code by tweaking the publicFieldsInfo.

If a site has lots of languages and the client only need to use one at the time, it might be easier to just output the one language, if it is outputted as body, that also implies that tr

[2014-12-14 21:34] attiks commented on #314
@amitaibu strange thing is that it works for the title (using the title module)

[2014-12-15 07:25] e0ipso commented on #314
I would much rather output a single language, and let core's language negotiation strategies decide which language to use. Imagine a site with four languages + several long text fields + listing 50 items. You could be creating an HTTP transfer performance bottleneck.

I'm not sure why EMW is not picking the negotiated value in this case, but I think this is a bug.

[2014-12-15 07:26] e0ipso opened #317 "Check output with Entity Translation enabled."
See https://github.com/RESTful-Drupal/restful/issues/314#issuecomment-66924934 by @attiks.

[2014-12-15 07:28] amitaibu commented on #169
Amazing stuff! Thanks! :)

[2014-12-15 07:28] #169 closed, assigned to e0ipso

[2014-12-15 07:28] amitaibu commented on #169
- Start writing f**king posts about it!! ;)

[2014-12-15 08:52] e0ipso commented on #169
Well, then you review them: https://medium.com/@e0ipso/f370050a26bb

[2014-12-15 10:41] nkgokul commented on #272
There was a comparison already done here https://docs.google.com/presentation/d/1nlVNMqE14zf9mO-3r_EG5VvHMKtPp8nuSA7vFHKCYSU/edit#slide=id.g4afb83e11_015

The tests might be old but probably we could use them to show the progress restful has made if any :)

[2014-12-15 11:34] amitaibu commented on #169
Looks really good. Maybe worth adding an example of a JSON output.

[2014-12-15 11:34] amitaibu commented on #169
Oh the image on top is exactly that.

[2014-12-15 12:27] e0ipso commented on #169
@amitaibu yeah… maybe not **too** obvious, right?

[2014-12-15 12:48] attiks commented on #314
@Jelle-S is building a POC to make sure we can do whatever we want, first PR is already submitted

[2014-12-15 13:02] e0ipso commented on #317
Closed. Thanks @Jelle-S!!

[2014-12-15 13:02] #317 closed, assigned to nobody

[2014-12-15 15:13] e0ipso opened #320 "Inject language to \RestfulEntityBase"
See https://github.com/RESTful-Drupal/restful/pull/318/files#r21825629

[2014-12-16 07:50] e0ipso commented on #169
Published article: https://medium.com/@e0ipso/restful-drupal-with-search-api-f370050a26bb

[2014-12-16 13:43] alexweber commented on #320
Taking a stab...

What kind of parameter did you have in mind for the injected language argument/property?  Simple string or the full language object?

[2014-12-16 14:12] alexweber commented on #320
oops, didn't realize #321 already has this issue covered! :)

[2014-12-16 21:41] raphaeltraviss commented on #299
See what you think of this: https://github.com/RESTful-Drupal/restful/pull/324

[2014-12-17 07:19] e0ipso opened #325 "Add a paragraph about: Using your API from within Drupal"
Describe when that can be useful. Make sure people understand that is mainly for testing purposes during development.

[2014-12-17 07:21] e0ipso opened #326 "The HAL example in the docs is not HAL!"
Fix the HAL example.

[2014-12-17 07:58] e0ipso commented on #320
Ahhh, sorry @alexweber we didn't close this one first.

[2014-12-17 07:58] #320 closed, assigned to nobody

[2014-12-17 10:29] amitaibu opened #327 "\RestfulAuthenticationBasic::authenticate shouldn't always trigger flood_register_event"
This was triggered when we called multiple times resources via API.

Basically, the solution should probably be that if called via API, we shouldn't try to authenticate using the plugins, and just use the global $user (as we already do, but probably to late in the process)

[2014-12-17 11:04] amitaibu commented on #327
or a better approach would be to check if indeed some info was sent to base auth, and flood_register_event() only then.

I'll be working on a PR.

[2014-12-18 09:22] e0ipso commented on #307
Closed in favor of the PR #308

[2014-12-18 09:22] e0ipso commented on #299
Closed in favor of #324

[2014-12-18 09:22] #299 closed, assigned to nobody

[2014-12-18 09:23] #307 closed, assigned to nobody

[2014-12-18 18:05] amitaibu opened #330 "Properly fix "Prevent notice in entity_metadata_no_hook_node_access() when node is not saved""
We need to fix the Entity [patch](https://www.drupal.org/node/2086225#comment-9178193), so we won't need patches once Entity hits 1.6

[2014-12-18 18:05] amitaibu commented on #330
@alexweber feel like tackling this one? :)

[2014-12-18 18:15] alexweber commented on #330
@amitaibu sure!  it's not exactly clear to me what's needed to "fix" that patch though?  Do you mean fix the wrapper usage wherever it's causing issues (if that's even possible)?

[2014-12-18 18:18] amitaibu commented on #330
@alexweber The [fix](https://www.drupal.org/node/2086225#comment-8768373) I've given isn't generic enough. I tried to provide a better patch [here](https://www.drupal.org/node/2086225#comment-9341927) but it failed the tests. I guess it's picking the work from my latest patch, and make it.. well... working ;)

[2014-12-18 18:18] amitaibu commented on #330
`+` Thanks ! :)

[2014-12-18 18:52] alexweber commented on #330
![Challenge Accepted](http://1.bp.blogspot.com/-e8FhJfFOMHA/Tyj8M2ObuyI/AAAAAAAABgE/klx7XNacf_o/s1600/Challenge+Accepted+Meme.png)

[2014-12-18 18:53] amitaibu commented on #330
I would answer with another pic, but honestly - your wins everything I can think of :wink:

[2014-12-18 18:54] alexweber commented on #330
:)

[2014-12-19 12:34] alexweber opened #331 "Recoverable fatal error: Argument 1 passed to RestfulFormatterHalJson::prepareRow() must be an array, string given"
I'm getting this error when running `curl -u "user:pass" http://example.dev/api/login`.

The error happens on line 32 in RestfulFormatterHalJson.class.php.  From what I gather it's expecting an array of rows as a param but when there's only one row, it gets the actual item instead of an array with just the one item:

[code]

What we really want in this case is:

[code]

I've dug into this a bit an

[2014-12-19 12:44] e0ipso commented on #272
Hi @nkgokul, thanks for bringing that up! I was already aware of that comparison. However I'm not sure how interesting it is in a **real world scenario** where most of the performance is achived via caching techniques.

So my question was more: «if I were to put an API in production for a heavy traffic website, would the RESTful module compare to the existing solutions?»

From my findings, and and

[2014-12-21 18:18] amitaibu opened #332 "Request should be piped to sub-requests"
I have [this](https://gist.github.com/amitaibu/8925b6d59a8bf715f46e) class where the resource company is "private".

A user tries to get the `me` resource with a token e.g. `https://exmaple.com/api/me?access_token=aH1grLnUp6T-BW5J_mtF9J0lkgJSDItYHgnY2X_ND2w`.

The problem is that the $this->getRequest() doesn't return the previous request, so the `access_token` is lost

[2014-12-23 14:21] RoySegall opened #338 "Describe the non GET request in the API."
The api path display all the API available. I think we can improve that one by adding to the api description how to interact with the rest.

For example in one OpenScholar [pull request](https://github.com/openscholar/openscholar/pull/6830/files#diff-761bc22d5c8e7482a2b584848aeac684R2) i'm describing on the method what values it's expecting:

[code]

@amitaibu @mateu-aguilo-bosch Any thoughts on t

[2014-12-23 14:32] amitaibu commented on #338
If anything I would move this info into the OPTIONS, so anyone consuming the API may see it.

[2014-12-23 15:11] nedSaf opened #339 "Wrong count with custom filter."
I added a custom field filter to a resource with `getQueryForList`,
The count of the resource is not changing even when applying the filter (which is filtering correctly):

![localhost_capacity4more_www_api_activity_stream](https://cloud.githubusercontent.com/assets/7369740/5539138/771dc366-8ac6-11e4-8e10-16e2ae3ad9d3.png)

![localhost_capacity4more_www_api_activity_stream_group_24](https://cloud.

[2014-12-23 17:41] amitaibu opened #340 "WSOD on filter of a property"
[code]

`https://example.com/api/foo?filter[user]=1`

[code]

The reason is that in \RestfulDataProviderEFQ::queryForListFilter we should get the real property from the one defined in `$public_fields` which is in fact the $wrapper property.

In short: PR will follow :)

[2014-12-24 07:09] e0ipso commented on #340
Shouldn't this be

[code]

?

[2014-12-24 07:09] #332 closed, assigned to nobody

[2014-12-24 07:10] amitaibu commented on #340
Sorry, yes it's `https://example.com/api/foo?filter[user]=1`. Still, without #341 - you would get an error ;)

[2014-12-24 07:15] amitaibu commented on #339
@nader77 can you look at it in your contribution hour please

[2014-12-24 07:16] e0ipso commented on #339
@nader77 if you override `getQueryForList` you should also override `getTotalCount`.

Maybe a better idea would be to provide a filter query param? https://github.com/RESTful-Drupal/restful/blob/7.x-1.x/docs/api_drupal.md#filter

[2014-12-24 07:20] amitaibu commented on #339
@nader77 The problem seems to be somewhere in `\RestfulDataProviderEFQ::getQueryCount`. We try to filter the values (`$this->queryForListFilter($query);`) but apparently it isn't working as expected.

[2014-12-24 09:02] amitaibu commented on #340
Closed in favor of #341

[2014-12-24 09:02] #340 closed, assigned to amitaibu

[2014-12-24 11:55] e0ipso opened #344 "Fix curies for embedded resources in HAL."
The curies should contain the name of the public field.
### Scenario

Imagine that a content type has 2 taxonomy term fields, and we are requesting an entity that has 2 terms on each field.
#### Current

The current result is that we have an array of 4 items in the `'_embedded'` in the HAL response.
#### Desired

The desired result is that we have 2 arrays of 2 items in the `'_embedded'` in the HA

[2014-12-24 11:58] e0ipso commented on #344
This is blocked until #319 is merged.

[2014-12-24 19:44] helior opened #345 "Resource to specify it's own base_url"
Although each resource can define it's own `$plugin['menu_item']` it would be handy if a resource definition could just provide it's own `$plugin['base_url']` and Restful module can reference that when building the hook_menu items. Something like this:

[code]

Although, this might not be enough since I've also observed that in spite of providing my own `$plugin['menu_item']`, my custom path is ig

[2014-12-25 07:40] nedSaf commented on #339
Using a filter query param.

[2014-12-25 07:40] #339 closed, assigned to nobody

[2014-12-25 19:28] amitaibu opened #346 "Provide URL to allow creating image styles using access token"
If a user is not logged in, and just uses access token URLS such as `https://example.com/system/files/styles/thumbnail/private/company1.jpg?itok=CfZEAIN9` will fail. we should probably create another resource to allow using other authentications to get image styles.

[2014-12-26 03:50] xuxucode opened #347 "Add support for commerce_product_reference field"
I am using Drupal Commerce module, when expose field_product property on Product display node type, an exception found: **Field field_product is not an entity reference or taxonomy reference field**, is there a better way to handle commerce_product_reference field?

[2014-12-26 06:21] amitaibu commented on #347
We can probably add integration with commerce. Care to create a PR to extend [getTargetTypeFromEntityReference](https://github.com/RESTful-Drupal/restful/blob/ce9e0300c17b0aae7ee0e005ab44f829bc0667c2/plugins/restful/RestfulEntityBase.php#L441)

[2014-12-26 09:38] xuxucode opened #348 "Is RESTful a good choice for native mobile apps?"
Many places mentioned "AngularJs", “web application”,  I am curious
1. Whether RESTful  right choice for creating native mobile app compared to restws?
2. if HAL+JSON suitable for native app client

[2014-12-26 10:38] e0ipso commented on #348
It's the best choice, because of it's flexibility.

Not sure I understand the question. The RESTful module **can** output your data using HAL+JSON, but that is only one of the supported output formats.

[2014-12-26 12:23] xuxucode commented on #348
Got it, thank your very much.

[2014-12-27 20:44] #348 closed, assigned to nobody

[2014-12-27 20:49] amitaibu commented on #346
Example of the problem can be seen in http://hedley-demo.gizra.com/#/companies/1

Since we are sending only access tokens, the user isn't really logged in Drupal, thus image styles from private nodes have no access

![hedley-demo gizra com___companies_1](https://cloud.githubusercontent.com/assets/125707/5562295/717c7586-8e1a-11e4-926d-01686b68fa32.jpg)

[2014-12-27 21:00] amitaibu commented on #346
Update: or maybe  RESTful should implement `hook_file_download()` and have a say if a user has authenticated through it. I'll have to dig...

[2014-12-29 10:03] e0ipso commented on #346
Hmm, I didn't know about `hook_file_download`. :-)

[2014-12-29 10:18] e0ipso commented on #345
Thanks @helior. I wish all bug reports were this thorough!

[2014-12-29 10:39] e0ipso commented on #232
Closed in an issue purge. Please, feel free to reopen if necessary.

[2014-12-29 10:39] #232 closed, assigned to nobody

[2014-12-29 10:40] e0ipso commented on #116
Closed in an issue purge. Please, feel free to reopen if necessary.

[2014-12-29 10:40] #116 closed, assigned to nobody

[2014-12-29 10:40] e0ipso commented on #133
Closed in an issue purge. Please, feel free to reopen if necessary.

[2014-12-29 10:40] #133 closed, assigned to nobody

[2014-12-29 10:40] e0ipso commented on #163
Closed in an issue purge. Please, feel free to reopen if necessary.

[2014-12-29 10:40] #163 closed, assigned to nobody

[2014-12-29 10:41] e0ipso commented on #185
Closed in an issue purge. Please, feel free to reopen if necessary.

[2014-12-29 10:41] #185 closed, assigned to nobody

[2014-12-29 10:41] e0ipso commented on #191
Closed in an issue purge. Please, feel free to reopen if necessary.

[2014-12-29 10:41] #191 closed, assigned to nobody

[2014-12-29 10:44] e0ipso commented on #117
Closed in an issue purge. Please, feel free to reopen if necessary.

[2014-12-29 10:44] #117 closed, assigned to nobody

[2014-12-29 10:45] e0ipso commented on #260
Closed in an issue purge. Please, feel free to reopen if necessary.

[2014-12-29 10:45] #260 closed, assigned to nobody

[2014-12-29 10:45] e0ipso commented on #262
Closed in an issue purge. Please, feel free to reopen if necessary.

[2014-12-29 10:45] #262 closed, assigned to nobody

[2014-12-29 10:53] e0ipso commented on #272
Closed in an issue purge. Please, feel free to reopen if necessary.

[2014-12-29 10:53] #272 closed, assigned to nobody

[2014-12-29 10:53] e0ipso commented on #273
Closed in an issue purge. Please, feel free to reopen if necessary.

[2014-12-29 10:53] #273 closed, assigned to nobody

[2014-12-29 10:54] e0ipso commented on #282
Closed in an issue purge. Please, feel free to reopen if necessary.

[2014-12-29 10:54] #282 closed, assigned to nobody

[2014-12-29 11:12] e0ipso commented on #300
Closed in an issue purge. Please, feel free to reopen if necessary.

[2014-12-29 11:12] #300 closed, assigned to nobody

[2014-12-29 11:13] e0ipso commented on #304
Closed in an issue purge. Please, feel free to reopen if necessary.

[2014-12-29 11:13] #304 closed, assigned to nobody

[2014-12-29 11:14] e0ipso commented on #314
Closed in an issue purge. Please, feel free to reopen if necessary.

[2014-12-29 11:14] #314 closed, assigned to nobody

[2014-12-29 11:15] e0ipso commented on #327
Closed in an issue purge. Please, feel free to reopen if necessary.

[2014-12-29 11:15] #327 closed, assigned to amitaibu

[2014-12-29 11:16] e0ipso commented on #330
@alexweber let me know if you need some revision or a clean view into your code. :-)

[2014-12-30 07:30] alexweber commented on #330
Hey sorry guys I've been on vacation, I'll be back next week, if this is too long feel free to snipe this one... :)

[2015-01-06 10:03] guillaumev opened #350 "Referenced entity view"
Hi,

Is there a way to have a referenced entity displayed with id, label and link (self). Currently, the only 2 ways I was able to find were using either full_view: TRUE, which displays the ENTIRE referenced entity, or full_view: FALSE, which displays only the ID. Is there a way to display the id, the label and the link ?

Thank you,

[2015-01-06 10:05] amitaibu commented on #350
You could create a separate resource that shows only the properties you want, and use that in the `resource`

[2015-01-06 10:11] guillaumev commented on #350
Ok but then it means the links in the referenced resources would point to, for example, locations2 instead of locations, so basically 2 paths for the same entity... Or am I missing something ?

[2015-01-06 10:13] amitaibu commented on #350
or same path, different version.

Otherwise, maybe you can implement an access callbacks per public field, and try to "know" you are in a sub-request. Never tried it myself :)

[2015-01-06 13:21] BurningDog commented on #350
I have a similar use-case and solved it like so. I have 2 content types: Textbook and Textbook Chapter (which has an entity reference to Textbook). When viewing a Textbook, I want to have a list of Textbook Chapters which belong to the Textbook, including node title, node id and chapter number.

Inside the `RestfulTextbooksResource` class I have the following:

[code]

`chaptersProcess` is a funct

[2015-01-06 13:25] RoySegall opened #351 "Can't autocomplete users due to a missing bundle key in the user schema"
I have user named john. When i try to get results for users using the autocomplete in the get request i'm not getting any results. The path is: `api/v1.0/users?autocomplete[string]=joh`. I also have blog that contains the word john and when i try to autocomplete blog through `api/v1.0/blog?autocomplete[string]=joh` i get results.

The problem come from [here](https://github.com/RESTful-Drupal/rest

[2015-01-06 13:34] BurningDog commented on #350
I should mention that in this case I have multiple Chapters belonging to a Textbook, and yes, I could have written a simple `db_select()` rather than using a view.

[2015-01-06 15:09] BurningDog opened #353 "Returning specific fields for a Quiz node"
I'm working with [Quiz](http://drupal.org/project/quiz) module nodes which are a little...different. Each Quiz can have an availability time period set (i.e. "Allow users to take this quiz between the 1st and 31st of January 2015"). There are 3 places in the node object where this data is stored:
- `$node->quiz_always`, a boolean, which stores if the quiz is always available or not.
- `$node->quiz

[2015-01-06 20:16] amitaibu commented on #353
You need the EntityMetadataWrapper to know the properties. For that you can use `hook_entity_property_info`

[2015-01-06 20:17] amitaibu commented on #351
@mateu-aguilo-bosch I think you had some plans for decoupling auto-complete from the RestfulEntityBase, maybe it's a good time to tackle this as-well? Can you share what you had in mind?

[2015-01-07 08:29] BurningDog commented on #353
I can only use `hook_entity_property_info` if the Quiz module implements `hook_entity_info` - which it doesn't. The properties are accessible through a `node_load` so I ended up with this workaround:

[code]

[code]

This gives me the data I need but feels hacky - is there a better way?

[2015-01-07 08:59] amitaibu commented on #353
I'm not sure. If a quiz is a node, you should be able to attach EMW properties to it. Those properties can be "computed" (i.e. have no column in the DB)

[2015-01-07 09:19] BurningDog commented on #350
A simpler way of accomplished what I did above is by doing a simple filter in the url request:

[code]

[2015-01-07 09:58] e0ipso commented on #353
@BurningDog you probably want to use a `callback` instead of a `property`.

[code]

[2015-01-07 10:15] e0ipso commented on #351
It is possible that the autocomplete functionality can be decoupled. I don't have anything done yet, but I can look at it.

I am thinking about using a strategy pattern when interacting with different behaviours and a decorator pattern to extrapolate functionalities like render caching, rate limits, …

I think that we should contain the different URL modifiers under an interface and find a common

[2015-01-07 13:35] BurningDog commented on #353
@mateu-aguilo-bosch thanks, that callback is much cleaner :)

@amitaibu yes, Quiz is a node.

How/where would I attach EMW properties to the node?

The properties _do_ have columns in the DB already. I expected that `$this` in the context of the class I'm working in (`RestfulQuizzesResource`) would include everything which `node_load()` gives, but it doesn't.

[2015-01-08 07:43] amitaibu opened #354 "Add a 'passthrough' option for public fields"
Sometimes we want to pass a custom property, that should be used for example in a POST to determine something about the saved entity. As a workaround we currently pass a query string (e.g. `api/articles?foo=bar`) as we can't pass it as a param in the POST + we can't get it in `$this->getRequest()`

So, we could have something like this:

[code]

[2015-01-08 08:08] e0ipso commented on #354
Why is that?

[2015-01-08 08:15] amitaibu commented on #354
Sorry, you will get a `Property "foo" is invalid`

[2015-01-08 12:03] adaddinsane opened #355 "User resource not appearing in node JSON"
I am getting no data returned when using this code, even from `restful_example`:

[code]

Switching to `'full_view' => FALSE` makes no difference.

Similarly I'm not getting anything with an `entityreference` field where I've defined a resource for the referenced entity (the resource works on its own). Accessing the user resource directly also works.

I've tried lots of different approaches and re

[2015-01-08 12:34] BurningDog commented on #355
Have you made sure that the drupal variable `restful_enable_users_resource` is set to `TRUE`? This can also be done in drupal at `admin/config/services/restful` and checking the "User resource" checkbox in the Advanced section.

[2015-01-08 12:40] adaddinsane commented on #355
Hi Roger,

Thanks for that. Yes, it's enabled.

I'm only using the 'user' resource as an example. I can't get results with
any 'embedded' resource using this technique.

On 8 January 2015 at 12:34, Roger Saner notifications@github.com wrote:

##

Steve Turnbull

[2015-01-08 12:50] BurningDog commented on #353
Ok wait - I've come across exactly the same question but in a different context. I want to return the picture associate with a user, so I've enabled my own user resource and can return a user at `api/v1.0/users/1`

The picture property isn't returned by default. Since it's listed as a property at `admin/config/people/accounts/fields` I expected I could do the following:

[code]

However, this give

[2015-01-08 15:21] adaddinsane commented on #355
Okay I've tracked it down to HAL:JSON.

If I use only JSON the user resource appears (in fact I have several sub-resources, and a sub-sub-resource, which all appear correctly).

The problem is happening in `RestfulFormatterHalJson::moveReferencesToEmbeds()`. I'm not entirely sure what's going on here (because I've only skimmed the HAL documentation, and the code) but it's failing to embed the "oth

[2015-01-08 16:01] adaddinsane commented on #355
As I don't understand the ins-and-outs of this, I don't really know exactly what it does what it does (I do understand that embedded resources have to go to the '_embedded' section of a HAL:JSON resource) but this is the problem:

[code]

The `(empty($value_metadata[$index]))` condition always fails.

What comes back from `$this->handler->getValueMetadata()` is a two-level array with numeric top-l

[2015-01-09 10:29] adaddinsane commented on #355
I've forked the repo and I'm investigating. I did a temp fix which established that I was right about the location of the problem but a proper resolution looks more complex. I've also studied the HAL:JSON documentation.

[2015-01-09 11:29] e0ipso commented on #355
Quick question. Are your embedded entities present in the _embed key? Thats
the normal behavior

On Fri, Jan 9, 2015, 11:29 adaddinsane notifications@github.com wrote:

[2015-01-09 11:40] adaddinsane commented on #355
No, they are completely missing using the original code.

Further investigation revealed the process works fine for HAL:XML, so the problem is tied to the existence of curies in the plugin, which causes the `RestfulFormatterHalJson::moveReferencesToEmbeds()` method to be called.

That method is broken (as described), when my temp fix is put in I can get the resources but they are all at the top-le

[2015-01-09 11:51] BurningDog commented on #353
So `$this->getAuthenticationManager()->getAccount();` gets the currently logged in user, not the specific user we want. So I ended up with this hack:

[code]

[2015-01-09 12:31] BurningDog opened #357 "What is the current user?"
This seems like a silly question to me, but I can't figure out how to ask the API what uid I have.

`/api/v1.0/users` gives me a list of all users but doesn't show which one is me. I've read all of the documentation I can find and there's not more information about how to do this.

All I need to do is something which runs (and returns) the following somewhere:

[code]

I've looked at the `restful_

[2015-01-09 13:01] adaddinsane commented on #355
Ha! Got it. It was relatively easy.

[2015-01-09 13:05] adaddinsane commented on #355
Here's the patch for the hal_json class...

[code]

[2015-01-09 13:12] BurningDog commented on #357
I'm now returning the current uid and user name at `/api/uid` by adding 2 files to the `plugins/restful/uid/1.0` folder.

`uid__1_0.inc` contains:

[code]

`RestfulUid.class.php` contains

[code]

I'm sure there's a better way of doing this...

[2015-01-09 18:54] amitaibu commented on #357
Hedley has such an example for `/api/me` - https://github.com/Gizra/generator-hedley/blob/master/app/templates/skeleton/modules/custom/skeleton_restful/plugins/restful/user/me/1.0/SkeletonMeResource.class.php

[2015-01-09 18:54] #357 closed, assigned to nobody

[2015-01-09 20:15] e0ipso commented on #355
@adaddinsane maybe you can make a PR. That way CI will kick in. :)

[2015-01-10 09:55] e0ipso opened #358 "Use a cache decorator for the render cache."
This should help simplifying the data provider classes and will encapsulate the cache related methods into a single purpose class.

[2015-01-11 12:01] adaddinsane commented on #355
I tried but it didn't like it (something about passwords). And I was too
rushed to mess about.

On 9 January 2015 at 20:15, Mateu Aguiló Bosch notifications@github.com
wrote:

##

Steve Turnbull

[2015-01-13 12:07] BurningDog opened #366 "Have to do individual API calls per node because restful doesn't provide enough data"
As mentioned in https://github.com/RESTful-Drupal/restful/issues/353 I have multiple places where restful doesn't provide enough data in a "show all [x] entity nodes" API call. I can only find this data by doing a `node_load()` in a callback in `publicFieldsInfo()` inside my class which extends `RestfulEntityBaseNode`

To do the `node_load()` I need to know the node id. I can only get the node id

[2015-01-13 16:17] adaddinsane commented on #355
This solution is incomplete and still fails for entity references that have multiple values.

However I have solved that. I will try to do a PR but I'm not promising anything.

[2015-01-13 18:38] amitaibu commented on #353
`However, this gives the error "Unknown data property picture."`

Indeed, because EntityMetadataWrapper doesn't know `$wrapper->picture->value()`, for that you could use the `hook_entity_property_info`, in order to allow `set` as-well. I would argue that this is the proper way, as it gives this option not only to RESTful, but for your entire app.

You could probably override `entityView()`, no?

[2015-01-13 19:37] amitaibu commented on #366
Sorry, I missed the new questions in #353 -- those are answered now there. I think this can be closed?

[2015-01-14 06:51] e0ipso commented on #355
No need to make promises. Contributing is hard.

If you find the time to send a PR that'll be awesome. If not, then there's no problem. :blush:

[2015-01-14 10:13] BurningDog opened #368 "Inconsistent use of data types for entity ids"
An API call to list all articles has ids as integers, but a call to an individual article has the id as a string.

All articles:

`{"data":[{"id":3,...`

Article 3:

`{"data":[{"id":"3",...`

I assume that these should both be integers.

[2015-01-14 17:13] bryangruneberg commented on #353
@BurningDog and I came right using hook_entity_property_info_alter, and added the fields that the quiz module itself didn't originally expose.

[code]

[2015-01-14 18:12] BurningDog commented on #366
Thanks for the answers - those did help :) I still do have the following question:

...but have workable workarounds for my other 2 cases, so if my question doesn't make sense, please go ahead and close this issue.

[2015-01-14 18:18] amitaibu commented on #366
It doesn't ;) The answer is to override the `entityView()` method

[2015-01-14 18:18] #366 closed, assigned to nobody

[2015-01-15 08:24] e0ipso commented on #368
What endpoint is this?

Also, note that the RESTful module is not opinionated about your data so it will not cast to any specific data type. That being said, entity ids are something special.

Is this the restful_example articles endpoint? (version?)

[2015-01-16 09:33] alexweber commented on #330
Taking a stab at this today...

[2015-01-16 21:50] yakoub opened #371 "Doubts about the general concept of the RESTful module."
can you explain and provide a practical example of how this module introduces better decoupling to drupal based website ?

[2015-01-16 21:56] e0ipso commented on #371
Sorry, when I directed you here from the Lullabot page I meant for support requests on the module.

Did my response answer your questions there? If it did I'd appreciate a follow up comment :-)

[2015-01-18 07:34] amitaibu opened #375 "Meta: 2.x architecture"
We need to find the pain points in 1.x and solve them by a better composition.

@mateu-aguilo-bosch has created a [gist](https://gist.github.com/mateu-aguilo-bosch/cb0da3b3b9a102339caa) with some mock code

[2015-01-18 07:40] amitaibu commented on #375
I think we need to explicitly define the workflow of a request, and find the points where RESTful it too convoluted:
1. Request sent
2. Parse request
3. Find matching resource
4. Authenticate
5. Rate limit
6. Try to answer from Cache
7. Fetch data by `dataProvider`
8. Map data to fields (by `fieldMapper`?)
9. Set cache
10. Pass to the formatter

Few issues we need to figure out:
- What's the diffe

[2015-01-18 09:55] rivkitzipory opened #376 "RESTful service with field collection"
Hi
I am using RESTFUL Module in drupal 7 And I try to create Service with Content type and field collection (nodes and field collection).
I can create a Service with the field collection, but when i try to add to the service with the content type thos rows:

$public_fields['my_field_collection'] = array(
      'property' => 'my_field_collection',
      'resource' => array(
        'my_resource' =>

[2015-01-18 10:04] amitaibu commented on #376
RESTful doesn't know field collection yet. You could provide a simple PR that will fix it -- by getting `\RestfulEntityBase::getTargetTypeFromEntityReference` to recognise that type of field.

[2015-01-18 10:49] rivkitzipory commented on #376
Hi
I tried this solution (allready)
I Created class myRestfulEntityBase and i did the the following changes:

1 Add in `RestfulEntityBase::getTargetTypeFromEntityReference`:

[code]

2 In `propertyValuesPreprocess`:

[code]

3 In `formSchemaHasAllowedValues`:

[code]

Now, I get my service:

But I think there is missing method like setPropertyValues in RestfulEntityBaseTaxonomyTerm.

[2015-01-18 11:29] e0ipso commented on #376
FWIW you should only have in the `myRestfulEntityBase` class the methods that are different from the parent `RestfulEntityBase`. If not, any possible future bugfixes in `RestfulEntityBase` won't be applied automatically to your resource.

[2015-01-18 11:41] rivkitzipory commented on #376
Obviously, this is only in the development

[2015-01-18 11:43] e0ipso commented on #376
@rivkitzipory sorry for stating the obvious, I hope you know didn't mean to offend :-P

[2015-01-18 11:46] amitaibu commented on #376
@rivkitzipory after the code changes in https://github.com/RESTful-Drupal/restful/issues/376#issuecomment-70403578  what error are you getting?

[2015-01-18 11:49] rivkitzipory commented on #376
I get a Service like this:
{
id: 1,
label: "aaa",
field_collection: [
null,
null,
null,
null
]
},
{
id: 2,
label: "bbb",
field_collection: [
null,
null,
null
]
},
}

So I think there is missing method like setPropertyValues in RestfulEntityBaseTaxonomyTerm.

[2015-01-18 11:51] amitaibu commented on #376
@rivkitzipory well, in that case you will indeed have to debug it.

[2015-01-18 12:07] e0ipso opened #377 "2.x - Cut the inheritance of the RestfulBase."
Meta #375
## Real scenario

We want contributed modules to provide support for their special field types with relationships.

Imagine that we have a content type that has a _field collection_ field (gasp!) and a _multifield_ field. At this moment there is no support for the relationships between the field and the referenced entity (fake entity or not). The only two possible ways are:
1. We add sup

[2015-01-18 12:07] e0ipso commented on #377
@amitaibu: impressions?

[2015-01-18 12:27] amitaibu commented on #377
You mean `Drupal\restful_field_collection\DataMapper\FieldCollectionMapper` will register itself as a data mapper? This makes sense to me. (Basically, It's a hook like, but with registered classes)

[2015-01-18 22:00] bricel opened #378 "Enable support for sub-property setter"
In case of fields with sub properties the setter fail on create and update the values:
example:

[code]

In such case when saving the entity wrapper should use the following format:

[code]

[2015-01-19 07:26] e0ipso commented on #378
Closing in favor of #379.

[2015-01-19 07:26] #378 closed, assigned to nobody

[2015-01-19 08:01] skyred commented on #371
@yakoub I just read your questions. I pretty much have the same questions.

This module seems to be a fork of RESTws in D7 and in D8 Core. Fork is a natural process of open source.

However, I read the Concept https://github.com/RESTful-Drupal/restful#concept . I still have no clue what's this module trying to achieve. @mateu-aguilo-bosch maybe you can enlighten us

[2015-01-19 08:07] e0ipso commented on #371
@skyred I'm not sure what's your question. Is there any of the bullet points in particular that you'd like to clarify?

I'll paste them here for reference:

Here are the differences between RESTful and other modules, such as RestWs and
Services Entity:
- RESTful requires explicitly declaring the exposed API. When enabling
  the module, nothing happens until a plugin declares it.
- Resources are ex

[2015-01-19 08:10] e0ipso commented on #371
@skyred the RESTful module borrows some concepts from RESTws (as in generic REST resources for entities), but none of its code. It uses no code from D8's rest module either. Therefore I don't think it can be called a fork. Not that there's anything bad in a fork, it's just not the case. :blush:

[2015-01-19 09:37] yakoub commented on #371
i found that many of the ideas and concepts behind this module is compatible with javaEE framework .
so it seems that mateu has followed standard restful specification .

but decoupling in java has a dedicated component so that is why it is confusing to hear restful module talk about decoupling .
https://docs.oracle.com/javaee/7/tutorial/cdi-basic.htm#GIWHB

[2015-01-19 10:39] e0ipso commented on #371
Certainly decouple is a generic word that means different things in different languages, technologies, frameworks and contexts. I believe that I said in the podcast _what decoupled means in Drupal…_, since the Drupal community uses a fairly specific meaning to what is generally understood by _decoupling Drupal_.

[2015-01-19 11:23] rivkitzipory opened #381 "RESTful service with Pager - next link"
Hi
I created Service that display large number of records - count: 1000
So I have a next link like : http://my web/api/v1.0/my service/page/2/0,
When I clicked on the link I get this error:
""Page" property should be numeric and equal or higher than 1."

Then I saw in RestfulBase line 937 thos row:
if (!ctype_digit((string) $page) || $page < 1)
When I comment this "if"  everythig worked nice,

But

[2015-01-19 11:26] e0ipso commented on #381
I believe that you should be doing

?page=1

[2015-01-19 11:28] rivkitzipory commented on #376
Solution
In addition to the three changes:
class RestfulEntityBaseFieldCollection extends \RestfulEntityBase {

   1 protected function getTargetTypeFromEntityReference(\EntityMetadataWrapper $wrapper, $property) {
    $params = array('@property' => $property);

[code]

  }

2  public function propertyValuesPreprocess($property_name, $value, $public_field_name) {
    // Get the field info.
    $fi

[2015-01-19 11:31] rivkitzipory commented on #376
I really want to change the function like this:

 protected function getTargetTypeFromEntityReference(\EntityMetadataWrapper $wrapper, $property) {
    $params = array('@property' => $property);

[code]

  }

I'd love to hear what better way...

[2015-01-19 11:35] yakoub commented on #371
very good mateu, but this is exactly why i asked you my original question abotu giving a practical example of how you see your module introduces decoupling in drupal .

[2015-01-19 11:35] e0ipso commented on #376
Can you please make a PR so it can be reviewed?

On Mon, Jan 19, 2015, 12:31 rivkitzipory notifications@github.com wrote:

[2015-01-19 12:54] rivkitzipory commented on #381
To this row:
if(($page != 1) && (!is_numeric($page[0]) || $page[0] < 0 || (isset($page[2]) && !is_numeric($page[2])) || (isset($page[2]) && $page[2] < 0))){

[2015-01-19 12:54] #381 closed, assigned to nobody

[2015-01-19 13:22] rivkitzipory commented on #376
What do you mean PR?

[2015-01-19 13:45] amitaibu commented on #376
PR = [Pull request](https://help.github.com/articles/using-pull-requests/)

[2015-01-19 18:36] yakoub commented on #371
decoupling (in its broad meaning) is achieved in drupal using field formatters callbacks, so that the theme layer only calls render($content['field_fieldname']) .

but what you do if i understand correctly is bypass the field formatters and pass the raw field value directly to the client in json format .
so how is that better decoupling ?

for example text field has a formatter which performs trim

[2015-01-20 08:27] rivkitzipory opened #382 "RESTful service Variable with filter"
Hi
I want to create Service for Variable with filter.
I copied variable Service from restful_example.
And I want to add a function like:

 public function getQueryForList() {
        $query = parent::getQueryForList();
        $query->fieldCondition('name','value','my_value', '=');
        return $query;
  }
But it's not working, I understand that Variable is not Entity...
What simple solution wit

[2015-01-20 08:54] e0ipso commented on #382
The variable resource example is going to change significantly in https://github.com/RESTful-Drupal/restful/pull/356

You can use the same filters on it as in any other resource.

[2015-01-20 09:01] rivkitzipory commented on #376
PR:
https://github.com/rivkitzipory/restful/tree/my-branch/plugins/restful
Added: RestfulEntityBaseFieldCollection.php

[2015-01-20 09:27] rivkitzipory commented on #382
Hi
I did all the changes, not working!!
There is no simpler solution?

[2015-01-20 09:37] amitaibu opened #383 "Fix 2.x tests"
I'm able to reproduce the errors. They seem to come from classes that are not found

`Fatal error: Class 'Drupal\Component\Plugin\LazyPluginCollection' not found in .../sites/all/modules/plug/src/Core/Plugin/DefaultLazyPluginCollection.php on line 23`

![localhost_d7_dev_sites_default_files_simpletest_verbose_restfulexceptionhandletestcase-1_html](https://cloud.githubusercontent.com/assets/125707/

[2015-01-20 09:38] amitaibu commented on #382
you should be using `$query->condition()` (this is a `db_select()` not `entityFieldQurery` object)

[2015-01-20 09:44] rivkitzipory commented on #382
Worked thanks.
In My RestfulQueryVariable Class

 public function getQueryForList() {
    $query = parent::getQueryForList();
    $query->condition('name', 'my_value','=');
    return $query;
  }

[2015-01-20 09:53] rivkitzipory opened #384 "RESTful two resources with the same bundle in the same plugin"
Hi
I want to create two services with the same bundle.
not in another version
I dont want:
/api/v1.0/myservice
/api/v1.1/myservice
I want
/api/v1.0/myfirstservice
/api/v1.0/mysecondservice

If I try to do like this.
It is not work good.

[2015-01-20 10:00] amitaibu commented on #384
services should be called `resource``

Why in the same plugin? They should be different plugins, with different resource name.

[2015-01-20 11:01] rivkitzipory commented on #382
Hi
I try to add this lines to class that extends RestfulEntityBase:
public function getQueryForList() {
    $query = parent::getQueryForList();
    $query->fieldConditions('my_field_name','value','my value','=');
    return $query;
  }
But I get this Error:
Call to undefined method EntityFieldQuery::fieldConditions() .
But $query Is entityFieldQurery ...?!

[2015-01-20 11:41] rivkitzipory commented on #382
Sorry
The Error:
I wrote fieldConditions ןnstead of fieldCondition

[2015-01-20 11:42] #382 closed, assigned to nobody

[2015-01-20 11:58] rivkitzipory commented on #382
Hi
My fieldCondition is not simple fieldCondition.
I have Service for content type and another sevice for field collection resource,
I want add a fieldCondition to the field collection service,
So i added  getQueryForList() function to the field collection service,
Then if I do /api/v1.0/field collection service it's work nice.
But I really need /api/v1.0/content type service ,
And then the servic

[2015-01-20 14:36] alexweber commented on #330
Sorry guys I don't think I'm going to be able to work on this anytime soon unfortunately, apologies for the let down! :(

[2015-01-20 21:11] bmcmurray opened #385 "defaultSort fails with custom resource properties returns SQL error"
I have a custom property added to a custom resource that extends `RestfulEntityBaseNode` like so:

[code]
According to the documentation this should be supported, from plugin.md:

   You can also define default sort fields in your plugin, by overriding `defaultSortInfo()` in your class definition.

But what happens is that this throws an error:

[code]

It appears that the current sort functionali

[2015-01-21 09:15] mateu-aguilo-bosch commented on #385
@bmcmurray it seems that the documentation may be wrong in that case. You can only sort on public fields that map to an entity property or to a Field API field.

The rule of thumb is, if your public field defines a `'property'` element you can use EFQ to sort.

## Solution
Sorting the output array will only sort the current page of results, so it will not be acceptable. Also, that same sorting cou

[2015-01-21 13:40] bricel opened #386 "After clean install update db 7100 is pending"
After clean install of restfull I get a pending update.
![image](https://cloud.githubusercontent.com/assets/165644/5836973/b29a41c0-a183-11e4-944f-420d8b860b06.png)

[2015-01-21 13:43] mateu-aguilo-bosch commented on #386
Did you run it?

[2015-01-21 13:44] bricel commented on #386
Yes, but i suppose it should not be pending after a clean install, right ?

[2015-01-22 12:18] rivkitzipory commented on #382
My solution:
In the field collection resource
Add this function
public function viewEntity($id) {
      $value = parent::viewEntity($id);
       if(isset($_GET['some_parameter'])){
          $some_parameter_value = check_plain($_GET['some_parameter']);
          if($value['field_in_field_collection'] !=  $some_parameter_value){
            return;
          }
        return $value;
      }
      r

[2015-01-23 13:42] guillaumev opened #389 "Filter by term parent"
Hi,

I have a use case which seems to be tricky with Restful. I have a hierarchical taxonomy of locations and I'd like to be able to filter by parent terms (get all terms which have a specific parent).

After looking into this for a while, I think it will be hard, given that restful uses EntityFieldQuery and the information I'm looking for is in the taxonomy_term_hierarchy table. Any thought of ho

[2015-01-23 14:40] e0ipso commented on #389
You should be able to override the appropriate method in your resource (something along the lines of `addTags`) and add your custom EFQ tag.

Then implement `hook_query_TAG_alter` to add your joins and your custom logic.

[2015-01-23 19:06] amitaibu commented on #389
Or maybe you could have a restful resource that extends the DB data provider, and query your table directly.

[2015-01-23 19:07] amitaibu opened #390 "\RestfulDataProviderEFQ::getColumnFromProperty should return false if no schema field"
as EMW allows defining "computed" properties that have no real schema field

https://github.com/RESTful-Drupal/restful/pull/385/files#r23471511

[2015-01-24 12:16] attiks commented on #389
You can have a look at https://www.drupal.org/project/taxonomy_edge and https://www.drupal.org/project/taxonomy_edge_field it adds a transitive closure table for all term levels, hook_query_TAG_alter will work but is not really a generic solution, if you could extend on top of taxonomy edge it will work for all entities.

[2015-01-24 16:49] e0ipso commented on #382
You should avoid accessing `$_GET`. Instead use `$request = $this->getRequest(); $some_parameter_value = $request['some_parameter'];`

[2015-01-24 18:26] #351 closed, assigned to nobody

[2015-01-24 18:27] amitaibu commented on #353
This looks like the right solution.

[2015-01-24 18:27] #353 closed, assigned to nobody

[2015-01-24 18:28] e0ipso opened #391 "Remove catch(\Exception $e) { $this->fail(…); } from tests"
See https://github.com/RESTful-Drupal/restful/pull/385/files#r23494984

[2015-01-25 06:24] rivkitzipory commented on #382
I changed thanks

[2015-01-25 09:37] amitaibu opened #392 "Typo in method name \RestfulDataProviderEFQ::isValidConjuctionForFilter"
``Conjuction`` => ``Conjunction`` (missing n)

[2015-01-26 10:03] martincollar commented on #368
Same for me, I created resource which exports my entity...
There are integers in the list and strings in the detail..

[2015-01-26 10:23] rivkitzipory opened #394 "RESTful service for Flag"
Hi
Is there an easy way to:
Create Service that Update/ Select a Flags for user?

[2015-01-26 12:21] guillaumev commented on #389
Thanks for the help ! Using addExtraInfotoQuery and hook_query_TAG_alter actually worked !

[2015-01-26 12:21] #389 closed, assigned to nobody

[2015-01-27 12:14] amitaibu opened #396 "Allow resource to expose more properties, not only data"
https://github.com/RESTful-Drupal/restful/pull/388/files#r23602927

[2015-01-27 14:57] joshbenner commented on #331
It seems like RestfulFormatterHalJson::prepare can only handle collections, not single objects, as the top-level data item.

Is RestfulBase::isListRequest intended to indicate when the top-level object is a collection? If so, do we need an additional check in RestulfFormatterHalJson::prepare to prepare a single object instead of preparing rows?

[2015-01-27 15:14] e0ipso commented on #331
@joshbenner did you get this error with a recent version of RESTful?

[2015-01-27 17:55] joshbenner commented on #331
I had reproduced this with latest code last week. I haven't retested yet. The code that seems to not handle single objects in RestfulFormatterHalJson::prepare looked unchanged since last week, so I didn't re-do any testing with today's code. I could re-test pretty easily if that's helpful.

[2015-01-27 18:05] joshbenner commented on #331
Okay, I've just reproduced with latest 7.x-1.x code.

[2015-02-01 19:28] amitaibu opened #402 "Fix broken test due to #397"
#397

[2015-02-02 09:53] amitaibu commented on #402
Update: Issue is with `Sub requests` test

[2015-02-02 09:55] amitaibu commented on #402
hmm, seems to pass on my local (php 5.6). I'll re-run the test

[2015-02-02 10:15] amitaibu commented on #402
@mateu-aguilo-bosch are you able to reproduce locally?

[2015-02-02 13:12] e0ipso commented on #402
This may be due to changes to any of the dependencies. Maybe EntityValidator?

[2015-02-03 07:18] amitaibu commented on #402
I'll check.

[2015-02-03 07:19] amitaibu commented on #402
Indeed, once EntityValidator was updated I get the error. @RoySegall can you please have a look

[2015-02-03 07:26] RoySegall commented on #402
Checking.

[2015-02-03 08:16] RoySegall commented on #402
I checked out to entity validator 1.1 release and the tests still failed even entity validator tests are passing. I turn on my debugger and put brake point at the first line of `entityValidate` and the debugger did not stopped there. After comment out [this](https://github.com/RESTful-Drupal/restful/blob/7.x-1.x/plugins/restful/RestfulEntityBase.php#L667-L669) part the debugger stopped at the firs

[2015-02-04 00:34] raphaeltraviss commented on #394
"Easy"... no.  But it should be partially possible:
- For getting the flagging value of an entity, you might be able to define a field via publicFieldsInfo() with the `callback` key, and point it to a function that operates the [Flag API](https://www.drupal.org/node/1748148#is-flagged).  I believe the `callback` function is passed the entity being viewed, so you should be able to pipe that into th

[2015-02-05 09:06] amitaibu commented on #402
I'll comment out the failing test until entity-validator would be fixed.

[2015-02-05 13:42] BurningDog opened #405 "If an Entity Reference field has no value, it isn't listed in a GET and gives an error on a PATCH"
I'm trying to update the value of a field in drupal with a PATCH request and getting the following error message:

[code]

Field current_course is an Entity Reference field which lists the groups a user belongs to. I have defined it in `function publicFieldsInfo()` as:

[code]

When the field doesn't have a value and I perform a GET on the API endpoint, `current_course` doesn't show up at all in t

[2015-02-05 13:45] BurningDog commented on #405
A similar problem: if a drupal field doesn't have a value then no process_callbacks run.

[2015-02-09 12:22] BurningDog opened #406 "User cache should invalidate if a different user to the currently logged in user is edited"
The problem: as user 1, I edit user 2 and save (Restful caching is enabled). The cache for user 2 should be invalidated, but it's not. Instead, the cache for user 1 is invalidated.

This is because inside `\RestfulManager#invalidateEntityCache` $uid is taken from the currently logged in user, rather than from the user which has actually been edited.

[code]

The issue is in the line `$uid = $handl

[2015-02-09 12:54] BurningDog commented on #406
There is a comment in `restful_user_update()` which says that we need to clear the entire bin for all users.

[code]

Assuming that's correct, `invalidateEntityCache` could be changed to read:

[code]

All that's changed is to add an explicit check for if the resource we want to clear is users:

[code]

Is that an ok solution?

[2015-02-12 11:43] BurningDog opened #408 "authentication_optional should mean that no browser caching takes place"
Problem: an anonymous user who makes an API call to see if they are logged in gets the response cached by the browser, so after logging in successfully and making the same API call, the browser-cached results tells them (incorrectly) that they are not logged in.

Goal: I need to see if a user is logged in or not. I've created an API endpoint return the uid (0 if anonymous, the uid if logged in), a

[2015-02-13 14:03] langillerr commented on #344
#319  is merged, any chance we can move forward with this?  Right now I'm unable to use embedded resources since there is no way to correlate the embedded resources to a field properly.

[2015-02-15 15:13] kmadel commented on #371
It is better decoupling for say a native iOS or Anroid app where you want to leave more of the UI and field level formatting up to the native code.  I don't think that AngularJS is as good an example as native mobile app in regards to what makes the decoupling enabled by this module useful.

[2015-02-17 20:12] amitaibu opened #411 "Wrong count on un-accessible nodes"
When anon does api/articles but has no permission to "view published content", no data appears but the count is wrong

![postman-2](https://cloud.githubusercontent.com/assets/125707/6236291/08a56aa8-b6f2-11e4-9db6-246b9219c046.png)

[2015-02-18 08:03] RoySegall opened #412 "CSRF token failed when passing access token in the header"
When the authentication module is enabled and the access_token is passed in the header the csrf token validation is failing.

[2015-02-18 08:10] amitaibu commented on #412
Which module is that?

[2015-02-18 08:13] RoySegall commented on #412
RESTful token authentication

[2015-02-18 08:16] amitaibu commented on #412
If you are using the access token, you shouldn't pass the CSRF token.

[2015-02-18 08:23] RoySegall commented on #412
That's the problem. I'm not passing and the csrf token validation is failing:
![selection_323](https://cloud.githubusercontent.com/assets/1222368/6244159/1e946e84-b758-11e4-9d97-fc140e950d7d.png)
![selection_324](https://cloud.githubusercontent.com/assets/1222368/6244162/2199ed84-b758-11e4-8188-468fb6ebd6ef.png)

[2015-02-18 08:36] amitaibu commented on #412
Ok, so seems the problem is that the user is already logged in using cookies. RESTful doesn't know that access_token was sent to when it tried to authenticate with the cookies it fails.

Maybe we should add a weight property for each auth plugin, and make the cookies one be executed last?

[2015-02-18 09:11] RoySegall commented on #412
The problem is that the csrf token is always in the `$request['__application']` set no matter what.

[2015-02-18 09:19] amitaibu commented on #412
We could pass the authManager to the each provider, so cookie can check if it's the only one:

[code]

[2015-02-18 19:31] amitaibu opened #413 "Avoid SA-CONTRIB-2015-052 - RESTful Web Services - Access Bypass"
https://www.drupal.org/node/2428863

Here's the commit that deals with it - http://cgit.drupalcode.org/restws/commit/?id=01724e0

(cc @klausi)

[2015-02-19 08:14] RoySegall commented on #412
`count($auth_manager)` is actually 3. I would like to try another solution because that don't look solid enough.

[2015-02-19 08:31] amitaibu commented on #412
Sounds right to me. If it's 3 it means there are 3 auth providers, so it shouldn't throw exception

‫ב-19 בפבר 2015, בשעה 10:14, ‏Roy Segall notifications@github.com כתב/ה:‬

[2015-02-19 15:14] thebruce opened #414 "hal _links supplied by additionalHateoas() in hal JSON formatter is overwritten by addHateoas"
Handlers are allowed to supply additional Hateoas elements via the additionalHateoas() function in ln 47 of RestfulFormatterHalJson.class.php however later when $this->addHateoas is called it overwrites any previously set "_links".

[2015-02-19 15:15] thebruce commented on #414
Oh - i guess this assumes that custom Hateoas _links should be supplied in handler->additionalHateoas()  which I think makes sense.

[2015-02-21 08:02] e0ipso commented on #412
It seems to me that we need a new method `needsCsrfToken`. We could have the authentication manager write in _our global state_ `$request['__application']` the successful authentication provider.

I'd rather that the more generic classes called the more concrete, not the other way around.

I believe that the order will always be the order declared in the plugin definition. If that is not the case

[2015-02-22 16:10] Kazanir opened #417 "RestfulEntityBaseMultipleBundles improvements"
I was exploring a multi-bundle API resource yesterday and wanted to ask if there is a known reason why RestfulEntityBaseMultipleBundles couldn't be extended to provide all the normal entity operations, using the same tactics in the current list implementation -- load the appropriate child handler and use its methods to return the results of `viewEntity($id)`, `updateEntity($id)`, etcetera. I haven

[2015-02-22 17:43] amitaibu commented on #417
Because on create we need to know which bundle should be used

‫ב-22 בפבר 2015, בשעה 18:10, ‏Christian Sieber notifications@github.com כתב/ה:‬

[2015-02-27 07:32] #414 closed, assigned to nobody

[2015-03-01 22:06] rw355 commented on #411
RestfulDataProvider::getTotalCount is by-passing the access check. Or, the access check should be implemented at RestfulFormatter::prepare

[2015-03-03 08:15] amitaibu commented on #411
I think it would be best to make sure getTotalCount() is using an access check, similar to what we do in `\RestfulDataProviderEFQ::addExtraInfoToQuery`

[2015-03-05 02:48] torenware opened #421 "When running restful_angular_example locally, dropping file causes 503"
I've installed RESTful via drush (it installs 7.x-1.0-rc4), enabled  restful_angular_example and installed its dependencies with npm and bower  per the instructions in modules/restful_angular_example/README.md.  This works fine, and restful-example/form resolves to a working angularjs application.  When I'm doing this, I am logged in as uid=1.

Submit generally works:  edit the angular form and su

[2015-03-05 19:33] pjcdawkins commented on #111
Started work here, although I haven't addressed either of Bojan's questions yet.
https://www.drupal.org/sandbox/pjcdawkins/2446745

My answer to question 1 would be that inconsistency is better than inconsiderateness. The OAuth2 API already has to be treated differently than a typical RESTful API call.

Scopes are harder. But I'm only making an authentication plugin at the moment - not bothering w

[2015-03-05 21:40] thebruce opened #423 "Travis Builds are Failing on Entity Wrapper Patch Time Out (Entity Module Latest Release includes)"
I experienced this on #422:

https://travis-ci.org/RESTful-Drupal/restful/builds/53248375

I assume this is because https://www.drupal.org/node/2264079 made it into the release of entity api:
https://www.drupal.org/node/2437885

[code]

[2015-03-06 12:55] e0ipso commented on #111
@pjcdawkins that is great to hear! Let me know if there is anything we can do to help you move forward with this.

[2015-03-06 19:51] #423 closed, assigned to nobody

[2015-03-07 07:36] e0ipso opened #425 "Create entity from sub resource."
@amitaibu I found something, but I am not sure it is a bug.

In https://github.com/RESTful-Drupal/restful/blob/7.x-1.x/plugins/restful/RestfulEntityBase.php#L790-L792 we have:

[code]

Should it be?

[code]

I am a bit confused by this right now.

[2015-03-07 07:40] #425 closed, assigned to nobody

[2015-03-07 07:54] e0ipso opened #426 "Clean loadByFieldName from getRequestForSubRequest"
Override `getRequestForSubRequest` in the `RestfulEntityBase`. In there call the parent to clean the usual stuff and remove `loadByFieldName` from the piped request.

[2015-03-07 10:45] e0ipso opened #427 "Fix syntax error."
This seems like an error:

[code]

https://github.com/RESTful-Drupal/restful/blob/7.x-1.x/plugins/restful/RestfulEntityBase.php#L595

[2015-03-08 06:55] amitaibu commented on #427
Not en error - we are checking that the wrapper has a `url` property, as some entities don't necessarily have a url(). So if the entity doesn't have a url, we don't bother calling `$wrapper->url->value()`

[2015-03-08 06:56] amitaibu commented on #426
Not sure I follow ;)

[2015-03-08 10:32] e0ipso commented on #426
For entities, we allow the query string param `loadByFieldName`. That gets loaded into the request object.

We pass the request object to the sub-requests for the reference fields (entityreference, taxonomy, …) that are declared as resource. That request object should not have `loadByFieldName` passed (that's the bug). To do so,  we have to implement `getRequestForSubRequest`. Since `loadByFieldNa

[2015-03-08 10:33] e0ipso commented on #427
I meant the extra semicolon in the `if` clause.

[2015-03-08 10:37] amitaibu commented on #427
Oh, sorry ;)

[2015-03-08 10:41] e0ipso commented on #427
My bad. There was no mention of semicolon in the original description.

[2015-03-10 18:55] uniquename opened #429 "How to get uid on token login?"
Maybe a stupid question, cause i missed something...

Getting the access_token with basic auth works just fine, but how can I receive user data or uid to get it from the users resource, after I got the token?

...btw. fantastic module!-)

[2015-03-11 07:09] amitaibu commented on #429
You mean `$this->getAccount()` ?

[2015-03-11 11:54] uniquename commented on #429
Sorry, maybe I wasn't clear enough... when I send a GET with basic auth credentials to api/login-token I receive the token and infos about it, as defined in RestfulAccessTokenAuthentication.class.php line 61-63.
Lets say, I have an app that logs in a user this way, after a successfulI login I want to get some information about the logged in user, but therefore I would need the uid to query api/use

[2015-03-11 12:09] amitaibu commented on #429
I see two options:

Add `uid` to login-token, or add a `/api/me` resource

[2015-03-11 12:14] uniquename commented on #429
hehe... just thought the same about api/me, but it would be another request. I think I will go for more information on api/login-token. I could make a pull request later, if this is desired for the module design...

[2015-03-11 12:21] amitaibu commented on #429
How about providing both options in your PR, and wining some extra Karma :wink:

[2015-03-11 13:04] uniquename commented on #429
...k, i'll go for that;-)

[2015-03-12 19:24] amitaibu opened #431 "Make AuthenticationManager to be a singleton"
follow up on #410

[2015-03-12 20:31] pjcdawkins commented on #111
Just FYI, I think it's more appropriate as a patch for the OAuth2 Server module (because it would have needed a smaller patch anyway) - so I'm going to continue work here: https://www.drupal.org/node/2451303

[2015-03-13 06:43] e0ipso commented on #111
@pjcdawkins awesome!

Have you considered the possibility of writing `restful_oauth2` as a new module that extends `oauth2` instead of patching `oauth2`? I say that since this work will likely break backwards compatibility and will require a new `oauth2` major version. This fact may throw back the maintainers to include your patch.

Maybe it's worth checking with https://www.drupal.org/u/hytse6c a

[2015-03-13 06:46] e0ipso commented on #429
Closed in favor of https://github.com/RESTful-Drupal/restful/pull/430

[2015-03-13 06:46] #429 closed, assigned to nobody

[2015-03-13 08:21] pjcdawkins commented on #111
I mean the oauth2_server module. It's definitely not going to break BC

[2015-03-13 14:47] martincollar commented on #405
Hi @BurningDog I'm just solving same thing, found some walkaround:

Add viewEntity to your resource class:

[code]

I know for example if uid is 0 than there is FALSE in response, so just add new keys to publicFieldsInfo:

[code]

What do you think about this?

[2015-03-14 08:31] xuxucode commented on #353
@BurningDog
To return picture, see [EntityMetadataWrapper is missing user properties for pictures, passwords, timezones and signatures](https://www.drupal.org/node/2224645) and apply the latest patch. However, you need to convert the picture file object to an array:

[code]

[2015-03-16 18:00] iStryker opened #435 "README.md example does not work"
I follow 'Declaring a REST Endpoint' in the README.md, and I get

RestfulServiceUnavailable: Restful plugin class (articles) was not found. in restful_get_restful_handler_by_name() (line 303 of /var/www/mysite/sites/all/modules/contrib/restful/restful.module).

Examples inside restful/modules work.

[2015-03-16 19:17] iStryker commented on #435
The name of the file must match the name of the plugin.  If it does not, then you will get the RestfulServiceUnavailable plugin.

Took me 4 hours to figure this out.  It was not obvious as the myplugin.inc still gets read by ctools.

[2015-03-18 07:09] kzoltan commented on #376
@rivkitzipory great that you have this repository
I think you will have to do on more step to actually create the pull request.

See the steps here: https://help.github.com/articles/creating-a-pull-request.
Also please refer to this ticket.

Thanks, for your contribution

[2015-03-18 10:00] kzoltan commented on #376
Since I am in a hurry I created the my own PR based on @rivkitzipory suggestions.

Hope this way it will get faster reviewed and commited.

[2015-03-18 12:21] e0ipso commented on #355
Let's move the convesation to #422.

[2015-03-18 12:21] #355 closed, assigned to nobody

[2015-03-18 12:47] kzoltan commented on #376
The PR was merged the issue could now be closed there is only one unanswered question, that of @rivkitzipory:

What do you think about changing the `getTargetTypeFromEntityReference` function like this:

[code]

[2015-03-18 15:22] iStryker opened #440 "Set of variable (instead of all)"
I am following the restful_example for variables.  I see the example sets an endpoint with all of the variables available.   I want to expose only a predefined set of them to the public.  How can I do this?

[2015-03-19 12:25] e0ipso commented on #440
You will need to provide the `access callback` for the value field, or override the `->access()` method in the resource.

[2015-03-19 12:25] #440 closed, assigned to nobody

[2015-03-19 13:28] mateu-aguilo-bosch opened #441 "2.x Advanced write features"
Features covered:

  - [ ] Writing field api fields.
  - [ ] Writing field api fields with multiple values.
  - [ ] Writing entity properties.
  - [ ] Writing simple embedded resources.
  - [ ] Writing embedded resources with multiple fields having multiple values.
  - [ ] Writing a resource field of multiple values.
  - [ ] Writing embedded resources with embedded resources.
  - [ ] Check the ret

[2015-03-19 14:22] iStryker commented on #440
I will try this.  Is this something that would be good to add to the examples?

[2015-03-19 14:24] e0ipso commented on #440
Yes!

If you had the time to create a recipe for this in the recipes section in
d.o it would be _great_!

[image: http://]
Mateu Aguiló Bosch
[image: http://]about.me/e0ipso
http://about.me/e0ipso

On Thu, Mar 19, 2015 at 3:22 PM, Tyler Struyk notifications@github.com
wrote:

[2015-03-19 14:33] mateu-aguilo-bosch commented on #441
Writing an article with tags:

[code]

[2015-03-20 19:53] rbran100 opened #442 "Name-spacing and PHP 5.3"
I know that in php 5.3.2 this format is failing for me:
https://github.com/RESTful-Drupal/restful/blob/7.x-1.x/restful.module#L29

I can't find an example of Namespacing with the preceding slash like that in the docs but I assume it has it's advantages.  I thought all of this was introduced in 5.3 but for some reason this is failing for me, if I remove the preceding slash everything is golden but

[2015-03-21 08:36] e0ipso commented on #442
I am no sure why that would happen…

[2015-03-21 08:41] e0ipso commented on #442
According to http://3v4l.org/g62UF it should work wit no problems for your PHP version.

[2015-03-21 18:26] rbran100 commented on #442
@mateu-aguilo-bosch thanks for looking. Huh... Maybe the issue is in drupals drupal_autoload_class, I will debug further when back at a computer with 5.3

[2015-03-23 06:31] RoySegall commented on #394
I have made something for my own project. I'll gist this one up: https://gist.github.com/RoySegall/fcb38410b3ecacc3b1d8

[2015-03-23 10:24] pjcdawkins opened #443 "Getting a single entity results in 200 'problem+json' response"
We have a single resource class which extends RestfulEntityBase, and doesn't override much.

We need a hal+json response format.

The collection listing, creating, and updating seem to work fine, and return correct HAL.

But for some reason, getting a single resource returns `application/problem+json`, and it doesn't have a '_links' key ('self' is at the top level). The actual resource data is ret

[2015-03-23 11:46] RoySegall opened #444 "Can't update Taxonomy terms."
I can create terms but when i want to update a specific term nothing happens.

[2015-03-23 13:05] NorthWindH commented on #435
Thank you for posting this as it helped me figure my stuff out. Will you be submitting a PR to the project with regard to the README?

[2015-03-23 14:51] pjcdawkins commented on #443
I kind of see (part of) the reason - it's because we are confused over 'view', 'viewEntity', and 'viewEntities' . I suspect there is at least one bug in here and certainly a lot of confusion... we'll add issues as we understand it more.

[2015-03-23 14:51] #443 closed, assigned to nobody

[2015-03-23 20:35] yann-yinn opened #447 "How to implement cookie authentication ?"
Hello,
First this is actually a great project and thanks for the lot of work already done, that's impressive.

My question is about how to implements authentication by cookie ? I mean, which is the http request to be made to use a basic cookie implementation ?

[2015-03-24 03:39] xuxucode commented on #347
PR https://github.com/RESTful-Drupal/restful/pull/449

[2015-03-24 03:39] #347 closed, assigned to nobody

[2015-03-24 06:38] #427 closed, assigned to nobody

[2015-03-27 08:44] jmdall opened #450 "Register users"
Hello,

I use Restful since a few days now and all went very good so far.

However I'm a bit lost when it comes to the register new users. I manage to do it with a custom resource extending RestfulEntityBaseUser and attribute specific role surcharging createEntity but I don't really know how to retrieve and set the user password...
Do you have any advices/hints about this ?

Thanks for all the wor

[2015-03-27 14:57] jmdall commented on #450
I've found a way to achieve this using "create_or_update_passthrough" on a public fields password and set it in my createEntity.

[2015-03-29 15:52] mateu-aguilo-bosch commented on #441
We can now nest as many resources as we need!

For instance, calling:
[code]

Will result in:

[code]

[2015-03-29 18:41] amitaibu commented on #441
:+1:

[2015-03-30 07:23] mateu-aguilo-bosch commented on #441
This call:

[code]

Should return:

[code]

[2015-03-30 08:05] e0ipso commented on #447
You will need to have Drupal give you an authentication cookie either by manually logging in, or by accessing `https://example.org/api/login` with basic auth.

See https://github.com/RESTful-Drupal/restful/blob/7.x-1.x/docs/api_url.md#working-with-authentication-providers

Please, if you figure this out, create a recipe in the recipe handbook for others to use. It would be a great way of appreciat

[2015-03-30 16:15] thebruce opened #452 "Public Fields with callback values can break url param filter[fieldname]"
With the Restful module we have a very useful ability to define a call back to produce a property on the resource.  This is useful in creating adhoc values or processed values in your resource which may be outside of normal entity properties.

I am seeing that doing so creates errors around the magic filtering.  As the implementer I would know that filters might not work on these computed fields,

[2015-03-30 16:18] thebruce commented on #452
What would be nice would be to provide a way to define filter options for publicFields with arbitrary callbacks - because they have high utility, but - I think - for the moment we could test whether or not the public field has a callback value other than FALSE (it's default) right after we check to see if the public field is empty on ln 986 in RestfulBase

[code]

[2015-03-30 16:18] amitaibu commented on #452
Yes, we should raise an exception sooner, with a clear message that the property is not valid for filtering. Care to give it a stab? :)

‫ב-30 במרץ 2015, בשעה 19:15, ‏David Diers notifications@github.com כתב/ה:‬

[2015-03-30 16:29] thebruce commented on #452
I'll see about putting in a PR, i know this one will need tests

[2015-04-01 04:33] krisgraham opened #453 "Views support?"
Is there any plan for views support? I realize it accomplishes a lot of the things that views is traditionally used for (creating lists of nodes), but adding views could still add a lot of power, especially since other modules already tie into it.
I'm already using views datasource but the way it's built can be pretty limiting for anything other than simple views (such as incorporating facets or m

[2015-04-01 06:32] amitaibu commented on #453
Views support won't be added to core of RESTful, as there's already a Data base provider that allows building your own query. Using Views would probably be an overkill, since you'll be using only it's query builder part - but the output itself is by RESTful.

[2015-04-01 06:32] #453 closed, assigned to nobody

[2015-04-01 07:00] #447 closed, assigned to nobody

[2015-04-01 07:00] e0ipso commented on #442
@rbran100 please reopen if you feel it needs to be reopened.

[2015-04-01 07:00] #442 closed, assigned to nobody

[2015-04-01 07:02] e0ipso opened #454 "2.x HAL+JSON formatting"
Make sure HAL+JSON is still working

[2015-04-01 07:04] mateu-aguilo-bosch opened #455 "2.x Authentication"
Test the different authentication providers:

  - [ ] Cokie authentication.
  - [ ] Basic authentication.
  - [ ] No authentication.
  - [ ] Token bearer authentication.

[2015-04-01 09:40] mateu-aguilo-bosch commented on #455
I am leaving token auth out of this PR. I'll open a new one to migrate it.

[2015-04-01 13:59] e0ipso commented on #452
Branch 2.x already addresses this. Maybe we could be consistent with the message and exception thrown.

[2015-04-01 20:39] chasingmaxwell commented on #331
@joshbenner, isListRequest is not a sufficient indicator of whether or not we need to call prepareRow since it returns true when utilizing the autocomplete filter where $data is an array of label strings. I wonder if it would be sufficient to simply check if $row is an array before calling prepareRow?

[2015-04-02 15:33] e0ipso opened #458 "Create an example when overriding controllerInfo is useful."

[2015-04-02 16:51] edhollinghurst opened #459 "Equivalent of Targeted Actions?"
I just wondered whether there is an equivalent way of implementing 'targeted actions' that are provided by the Services module? For example, a password reset request from a user.

Any advice would be much appreciated.

[2015-04-02 17:12] amitaibu commented on #459
Every "action" (which is in fact a hook_menu() that returns JSON) can be created with a REStful resource. The advantage of using RESTful would be that it does a lot of the heavy needed:

1) Declare the hook_menu()
2) Authenticate the user if needed
3) Cache the response if applicable
4) Throw clear errors when needed
5) Format the response in JSON, HAL+JSON, or others

Hope it helps :)

[2015-04-02 17:12] #459 closed, assigned to nobody

[2015-04-03 13:44] edhollinghurst commented on #459
Wow.. that's really cool :+1: Never imagined it would be that easy.

[2015-04-04 17:57] t14 opened #461 "Angular form example 403"
Hi
I am using this example, https://github.com/Gizra/angular-drupal-forms-example with the restful module.
I am trying to use an Angular form outside of a drupal installation to create content from the article content type.

I am able to login but I am not able post a new article. I am getting a 403 with the message "you do not have access to create a new articles resource"

Also is there a full C

[2015-04-05 15:09] edhollinghurst commented on #461
The way I do this is to save the access token to the $rootScope and then pass this into the headers of the post request. So you do something like this:

[code]

[2015-04-05 16:02] t14 commented on #461
Looks like tis is what is happening in the code example that I am using (see link below), but it does not allow access to create an article post

https://github.com/Gizra/angular-drupal-forms-example/blob/master/app/scripts/services/articlesresource.js

[2015-04-06 02:42] drewish opened #462 "RestfulFilesUpload makes files permanent by default"
I'm trying to figure out how best to allow file uploads using the restful module. It seems like the pattern used by the `restful_angular_example` uploads the files then associates the `fid` with the entity that's saved later.

One thing that's a little problematic about this approach is that every file uploaded is [automatically converted from a temporary file to a permanent one](https://github.co

[2015-04-06 03:06] drewish commented on #462
I think for most use cases you wouldn't want to make the file permanent until it's referenced. And I'd think there's very little change that would be needed to make that happen. When the `file.module` saves a field that references a temporary file [it makes it permanent](http://cgit.drupalcode.org/drupal/tree/modules/file/file.field.inc?h=7.x#n215):

[code]

That said I think there's probably a va

[2015-04-06 18:48] iStryker opened #463 "Variable resource"
I was working on an example for #440

If I define my own resource for variables.  It does not work.   Take the variables example (modules/restful_example/plugins/restful/variable/1.0/variable__1_0.inc) and change it from 'variables' to 'variables2' and it no longer works.

It gives a 404.

[2015-04-06 19:49] iStryker commented on #463
Nevermind. Must have been a caching issue.

[2015-04-06 19:49] #463 closed, assigned to nobody

[2015-04-08 07:49] jmdall commented on #461
You can look at [generator-hedley](https://github.com/Gizra/generator-hedley/tree/master/app/templates/client/app). It handle authentification with drupal by injecting access_token to every $http [here](https://github.com/Gizra/generator-hedley/blob/master/app/templates/client/app/scripts/app.js#L167). There's only the R of CRUD in my memory but maybe it will help you a bit. Creating content is no

[2015-04-09 08:49] t14 commented on #461
Ok thanks, looks like the angular-drupal-form example is a little out dated. The access token object was empty this is why I was not able to to create an article.
I also noticed that the logic on line 622 here https://github.com/RESTful-Drupal/restful/blob/dbff4999a1706f6324771a44956edad9f10a249e/plugins/restful/RestfulEntityBase.php

does not actually work. I was only able to create an article by

[2015-04-09 08:51] e0ipso commented on #461
It would be greatly appreciated if you could update the angular example to
reflect the latest version in the RESTful module.
On Apr 9, 2015 10:49, "t14" notifications@github.com wrote:

[2015-04-09 11:31] t14 commented on #461
will open a pull request soon

[2015-04-13 02:04] drewish commented on #462
Ah I just noticed that restful adds a file reference. That's also not needed for my use case so I'm just going to extend the class and override that method.

[2015-04-13 09:21] amitaibu commented on #462
Sure, a PR that would add it as an option in the plugin (see [here](https://github.com/RESTful-Drupal/restful/blob/7.x-1.x/plugins/restful/RestfulFilesUpload.php#L37-L44))

[2015-04-13 23:11] thebruce opened #466 "parse_restful_request - php://Input can only be read once in php 5.6 and below"
After it's read once it disappears because previous to php 5.6 php://input was only intended to be read once. This is a useful function and the only part of it that changes if it is called more than once is the query string -but only on PUTS and PATCHES and other non POST || GET actions.

Because this is out of the $this space and code in the .module it'd be cool if we could use a drupal static on

[2015-04-13 23:12] thebruce commented on #466
I'll have a pr here shortly

[2015-04-14 09:36] mateu-aguilo-bosch opened #468 "2.x Allow toggling resources on and off"
Since we are not using CTools plugins anymore, we cannot just wrap the plugin definition with an `if` statement. That means that if we declare a plugin it will be unconditionally available.

## Proposed solution
Add a new annotation / resource plugin property called _enabled_. That property is set to `TRUE` by default. If you set it to FALSE (via the Resource annotation) the PluginManager should n

[2015-04-14 09:39] amitaibu commented on #468
sounds right

[2015-04-14 12:38] #466 closed, assigned to nobody

[2015-04-14 13:07] e0ipso opened #470 "Add tests for autocomplete without bundles"
From https://github.com/RESTful-Drupal/restful/pull/457#issuecomment-89381013

[2015-04-14 13:15] e0ipso opened #471 "Create proper testing for RestfulFormatterHalJson"
Not restricted to: https://github.com/RESTful-Drupal/restful/pull/456#issuecomment-89382604

We need to test HAL, since it seems to be always broken.

[2015-04-14 13:16] iStryker opened #472 "Variables output"
Default variables are output:
{
  variable_name1: [name1]
  variable_vlaue1: [value1]
}
...
{
  variable_nameN: [nameN]
  variable_vlaueN: [valueN]
}

Should it not be
{
   [name1] : [value1]

   ...
   [nameN] : [valueN]
}

If this is not the desire output.  Should we create an example of how to override the RestfulDataProviderInterface to create this result?

[2015-04-14 13:21] e0ipso commented on #472
@iStryker I believe that the standard format for resource output is to declare a static field name (that is always the same, things like `title`, `date`, …). If you need dynamic labels or non standard outputs you should create a formatter plugin that does that. Then you can have your resource plugin use that new formatter plugin.

I believe that there are 3 formatter plugins already in the module.

[2015-04-14 13:22] e0ipso commented on #472
@iStryker can you make a PR to document that process with a title in the lines of: _Custom formatter plugins_ explaining when to create them and how to create them? :-)

[2015-04-14 13:59] mateu-aguilo-bosch opened #473 "2.x Allow discovering plugins in sub-folders"
Make sure we can have something like:
```src > Plugin > resource > node > article > v1 > Article.php```
as opposed to:
```src > Plugin > resource > Article__1_0.php```

[2015-04-14 14:02] e0ipso opened #474 "2.x Deactivate files resource based on variable value"
Honor this page:
![restful site-install 2015-04-14 16-01-33](https://cloud.githubusercontent.com/assets/1140906/7138284/a0f51620-e2bf-11e4-8bf8-0d4dd62f588f.png)

This depends on: #468

[2015-04-14 19:32] iStryker opened #475 "Process callback - get value from another property"
Support request

I have the following

[code]

In 'contentSource' function I want to return 'NULL' if field_use_external_source value is 1.   My problem is I cannot access the value of the use_external_source, nor do I have the entity's id.   The only thing I have is the value of the body property.

How can I do this?

[2015-04-14 19:39] amitaibu commented on #468
We also need to allow implementing modules to disable core plugins - https://github.com/RESTful-Drupal/restful/pull/460#issuecomment-91785300

[2015-04-15 16:12] e0ipso commented on #454
Closed in favor of #476.

[2015-04-15 16:12] #454 closed, assigned to e0ipso

[2015-04-15 16:13] mateu-aguilo-bosch opened #477 "2.x Enable Render cache feature"
Make sure that the render cache is working.

[2015-04-16 02:46] krisgraham opened #478 "Can't use a method from a parent class as a process callback"
I'd like to be able to re-use callbacks across resources, so I've created a class (e.g. CustomRestfulEntityBase), which extends RestfulEntityBase, to hold custom methods that my resources can use when they extend it.

This doesn't appear to be working because [is_callable() in executeCallback()](https://github.com/RESTful-Drupal/restful/blob/7.x-1.x/plugins/restful/RestfulBase.php#L576) returns fa

[2015-04-16 03:41] krisgraham commented on #478
My mistake: it helps if you extend the right class :)

[2015-04-16 03:41] #478 closed, assigned to nobody

[2015-04-16 07:04] shahardo opened #479 "Export entity with multiple bundles returns empty page."
I export an entity with multiple bundles - the inc file looks like:

[code]

When I call for export with a filter that match no entity, an empty response is received (WSOD). I was expecting a JSON with empty data and zero count, e.g.:

[code]

[2015-04-16 08:37] mateu-aguilo-bosch commented on #477
From the commit messages:

[2015-04-16 13:16] mateu-aguilo-bosch commented on #477
Initial benchmarks:
[code]
[code]

[2015-04-16 15:51] mateu-aguilo-bosch opened #481 "2.x Rate limits"
Test rate limits.

[2015-04-17 12:39] mateu-aguilo-bosch opened #482 "2.x Create the restful.api.php"
Document `hook_restful_request_alter`.

[2015-04-17 14:54] e0ipso commented on #474
This is done in #468.

[2015-04-17 14:54] #474 closed, assigned to nobody

[2015-04-17 16:39] raphaeltraviss commented on #435
Just to clarify, the example in the README does work, but it's not clear what some of the parameters in `$plugin` do.  I think some clarification in the docs would do some good.  I've commented on the pull request.

[2015-04-17 19:19] mpetrovic opened #483 "Files uploaded through PUT do not make it into handler intact"
I'm trying to replace a file on the server with the file given by the user, and using the PUT method to do so.

I'm setting the Content-Type header to the mimetype of the file, and the file itself as the data. By the time it gets to my Restful plugin, the data is gone. There's a few bytes of headers in the request array, and then nothing.

Looking at restful_parse_request, it looks like its treati

[2015-04-20 16:01] rbran100 commented on #483
@mateu-aguilo-bosch does @mpetrovic solution sound good to you?

[2015-04-20 17:01] amitaibu commented on #483
Hi OpenScholar folks! :)
I'm not sure I follow. What I would expect to send (and I'm not sure it's going to work, as I've never tested it when I wrote the File resource), is something like this:

[2015-04-20 17:01] amitaibu commented on #483
![postman](https://cloud.githubusercontent.com/assets/125707/7235657/11d4cebc-e798-11e4-9217-4b383c0494f8.jpg)

[2015-04-20 17:27] mpetrovic commented on #483
I've been trying with lots of things. The closest I've gotten is with raw. It cannot be form-data, since php://input just doesn't work. I haven't tried x-www-form-urlencoded in my own stuff, so I don't know how that handles files.

[2015-04-20 17:29] amitaibu commented on #483
@mpetrovic wouldn't another solution be:

1) Create a new file (as would happen if you used a form)
2) Replace the references in the node(s) referencing the new file
3) Delete the old file

[2015-04-20 17:30] mpetrovic commented on #483
That is way more work then swapping the file out on disk. More error-prone too. All I'm trying to do is replace the file on disk with a new one.

[2015-04-20 17:34] amitaibu commented on #483
Are you using the default file upload (`/api/file-upload`). If so then it currently support only [create](https://github.com/RESTful-Drupal/restful/blob/7.x-1.x/plugins/restful/RestfulFilesUpload.php#L16)

You are probably right, but I believe it's the same it's handled when uploading a file via form.

[2015-04-20 17:42] mpetrovic commented on #483
No, I'm using our own handler. But it's irrelevant, since php://input is being read and parsed by the restful module before it invokes the handler at all.

When using the core Replace File form found on the File Edit form, it invokes file_save_upload() with an argument of FILE_EXISTS_REPLACE. It finds the existing file with the same uri, puts the new file there, and clears caches on the old file o

[2015-04-20 17:43] amitaibu commented on #483
Can you share the link so I get more context.

Indeed, you are right :)

[2015-04-20 17:45] mpetrovic commented on #483
https://github.com/openscholar/openscholar/tree/media_browser_rewrite/openscholar/modules/os/modules/os_restful/plugins/restful/files/1.0

[2015-04-20 17:54] amitaibu commented on #483
I see you are using `file_save_upload()` directly. Why not use a similar code like we have [here](https://github.com/RESTful-Drupal/restful/blob/7.x-1.x/plugins/restful/RestfulFilesUpload.php#L58-L82)?

btw,  `$validators = array();  // TODO: How do we populate this?` -- this is taken from the [plugin](https://github.com/RESTful-Drupal/restful/blob/7.x-1.x/plugins/restful/RestfulFilesUpload.php#L2

[2015-04-20 17:59] mpetrovic commented on #483
$_FILES is empty during PUT operations.

Re: Validators.
In normal Drupal, validators take different arguments based on the Field in question. The REST api has no knowledge of what field we're trying to add this file to, which makes this approach not feasible.

[2015-04-20 18:08] amitaibu commented on #483
I didn't know of this limitation. Anyway, maybe use `POST`, but set the [X-HTTP-Method-Override](https://github.com/RESTful-Drupal/restful/blob/7c9bc9f76d143f6caf6d2fd293dc865b434dd799/restful.module#L420) header.

Right, the default file upload by RESTful isn't coupled with fields. So you could always move the logic you wanted to the constructor, and get the validators by `field_info_field()`.

[2015-04-20 18:31] mpetrovic commented on #483
Why not just fix restful_parse_request() so a user can PUT a whole file and expect something in the handler?

[2015-04-20 18:42] amitaibu commented on #483
PRs are welcome :)

[2015-04-20 18:46] amitaibu commented on #483
(or at least some code to better understand what's your proposed solution)

[2015-04-20 18:54] mpetrovic commented on #483
[code]

[2015-04-20 19:02] krisgraham opened #484 "Ability to apply language to field filters"
I need to be able to apply a language dimension to my filter parameters. For example, I may want to return all results for a given resource which have an English audio file (and exclude those with Spanish or French audio files but no English file). Is there a recommended way to accomplish this? Currently, these field filters appear to be language agnostic.

Would something like filter[audio][langu

[2015-04-20 19:15] amitaibu commented on #483
@mpetrovic I think your RESTful isn't updated - as the `php://input` is  already [used](https://github.com/RESTful-Drupal/restful/blob/7.x-1.x/restful.module#L559-L569).

Can you please check with the latest dev.

[2015-04-20 19:27] mpetrovic commented on #483
Except the problem is [this line](https://github.com/RESTful-Drupal/restful/blob/7.x-1.x/restful.module#L567).

When you just upload a file and that's it, php://input is the raw bitstream for the file. parse_str doesn't understand it all. The code as is assumes that the Content-Type is either application/json or x-www-form-encoded.

For reference, here is the code I'm using to make the request:

[

[2015-04-20 19:41] amitaibu commented on #483
I understand. Alright, so if you can, please write the PR.
It would probably be also nice (could be a follow up) to make the default file resource support full crud

[2015-04-21 06:34] e0ipso commented on #484
I think that `value` is only used if the public field does not have an specified column.

Probably `https://example.org/es/api/resource` will do the trick.

[2015-04-21 07:01] e0ipso commented on #483
I think that is the key part.

We should support other content types. In the meanwhile, does a combination of `hook_restful_parse_request_alter` + `_restful_get_query_string_from_php_input` get you out of the spot? If so, would you care to contribute your code back?

Thanks!

[2015-04-21 12:08] mpetrovic commented on #483
@mateu-aguilo-bosch While I believe that would work as well, I don't think
it should be up to the plugin writer to have to work around this code not
functioning in certain cases.

I have a patch written, it works with direct file uploads. I just need to
test it with other content types to make sure those works. I'll push it
somewhere when I get into the office.

[2015-04-21 16:27] krisgraham commented on #484
It seems to allow nesting for item deltas, but wants to enforce using "value": https://github.com/RESTful-Drupal/restful/blob/7.x-1.x/plugins/restful/RestfulBase.php#L999
There doesn't seem to be a way to use filter[column] instead from the query.

This works unless a filter is also used. When a field/property filter is applied all results will be returned matching that filter, regardless of langu

[2015-04-21 16:33] krisgraham commented on #484
The second issue can be resolved by adding a `$query->fieldLanguageCondition()` [here](https://github.com/RESTful-Drupal/restful/blob/7.x-1.x/plugins/restful/RestfulDataProviderEFQ.php#L179), but it might deserve to be a setting, and undefined language would need to be considered as well (is it treated as another language or included as an OR with all field queries)

[2015-04-22 07:19] e0ipso opened #485 "2.x Add DataProviderDecoratorBase for all data provider decorators"
An abstract base class that has all of the methods proxied to the subject.

[2015-04-22 11:33] e0ipso opened #486 "2.x Make all instances of new \EntityFieldQuery to use EFQObject"
https://github.com/RESTful-Drupal/restful/pull/469/files#r28863461

[2015-04-23 08:45] e0ipso opened #490 "2.x Implement the CSRF token resource"

[2015-04-23 20:32] iStryker opened #492 "Null Empty values"
Currently empty public field values are not getting outputted to the api.  After speaking with @nathanv, he said it is best practice for all of them to return NULL.    Should we be using this best practice?

[2015-04-23 23:24] iStryker opened #493 "Infinite Loop of references"
If you expose an entity reference field, there is no infinite loop.

If you expose an entity reference field, and use a resource of itself or another,  it creates an infinite loop if one entity (1) points to another (2), and the another (2) points back (1).   Similarly it creates an infinite loop if an entity (3) point to either (1) or (2)

[2015-04-24 07:26] xuxucode commented on #450
Here is my apporach:

[code]

[2015-04-24 07:35] jmdall commented on #450
Thanks for sharing ! Nice way to do it, helpful :)

[2015-04-24 10:53] e0ipso commented on #492
I don't hold a big preference in this matter. Maybe @nathanv can share some documentation to point to best practises in this case.

Thanks for pointing this out!

[2015-04-24 10:56] e0ipso commented on #493
This is a tricky one. Can you think of any feasible suggestion?

[2015-04-24 16:48] amitaibu commented on #493
Yeah, this is something I didn't want to get into when first developed the feature- we could "remember" the entity that rendered in a static cache, and if it appears again, we can force the `full_view` to FALSE.

However, I think that it's ok to avoid this complexity, and let the implementors set the `full_view` by their on logic. With that said, I guess PRs are welcome ;)

[2015-04-27 13:31] iStryker opened #499 "Node reference"
I have to ask.   Is there any interest for support for node reference?  Or is the plan to force everyone to use entity reference?

Motivation:
Have legacy projects using node reference and trying to build endpoint for them, without migrating their fields.

[2015-04-27 14:10] amitaibu commented on #499
I believe that in RESTful 2.x you would be able to register your own handlers without hacking RESTful core. @mateu-aguilo-bosch correct?

[2015-04-28 08:32] e0ipso commented on #499
That is correct.
On Apr 27, 2015 16:10, "Amitai Burstein" notifications@github.com wrote:

[2015-04-28 15:28] clehel opened #501 "Problems with addresses, urls, field collection items"
I'm having difficulties with importing non simple text fields, mainly address fields, urls and [single and multiple] field collections.
We tried several approaches, such as: trying to set only url subproperty of url fields, set only single subproperty of address [or all of them separately], with no result.
How should the input [parameter] look like? String for address type, or some kind of encoded

[2015-04-28 17:35] amitaibu commented on #501
Sorry, the issue isn't clear. Some simple to understand example will help us to help you :)

[2015-04-28 18:08] amitaibu opened #502 "Performance: \RestfulManager::invalidateEntityCache calls getAccount(FALSE)"
[code]

This means that on every `\RestfulManager::invalidateEntityCache` we re-authenticate the same user. @mateu-aguilo-bosch do you remember the reason for disabling the static cache here?

[2015-04-29 09:20] pjcdawkins commented on #111
For what it's worth, I've committed a patch to OAuth2 Server which provides RESTful integration.

1) In your RESTful plugin, add

[code]

2) Set the `oauth2_server_restful_server` variable to the machine name of your OAuth2 server.

[2015-04-29 10:12] e0ipso commented on #111
Yes! You rock @pjcdawkins!

Thanks for your work.

[2015-04-29 10:29] e0ipso commented on #502
Yes, it's because if we don't accept any authenticaction provider, but authentication is optional the expected result is the anon user. If we accept cookie, the expected result is the logged in user. This means different results depending on the plugin definition.

[2015-04-29 12:27] reszli commented on #501
Hi there! I quickly created a clean Drupal with an example Content Type "Company" having some fields we are trying to work with, link email, link, addressfield and field_collection:
https://github.com/reszli/test-restful

All the fields have default configuration, nothing extra. Some of them are simple others are multiple.
There is some test content generated with Devel.

![unnamed image 2](https:

[2015-05-01 18:21] vespoli commented on #492
I think it is probably a best practice because as a consumer of the service, it is preferable to not have to always check for the existence of a field before using/checking it's value.

[2015-05-04 06:50] e0ipso commented on #492
Good!

Care to provide a PR? :-)

[2015-05-05 01:23] krisgraham commented on #492
I just created a PR for this. checkPropertyAccess() returns false for fields with no data (in addition to those which the user doesn't have permission to access), so now it just populates the value with the default NULL for either case.

[2015-05-05 02:25] krisgraham commented on #475
iStryker, you may have solved this by now, but you might consider using 'property' => 'nid' and then you can load the entity using the nid and return whatever value you want. It's not the cleanest approach, but it would get you what you want.

[2015-05-05 02:32] krisgraham opened #506 "Allow filtering by is NULL"
Currently there's no way (in RestfulDataProviderEFQ) to filter results which have NULL or empty values for a particular field.
For example, filter[field_name]=NULL.
The reason is EntityFieldQuery doesn't allow this type of filtering:
https://www.drupal.org/node/1157006

It doesn't look like it will be added to Drupal 7, but I need this functionality. Any ideas?

[2015-05-05 08:14] amitaibu commented on #506
You should probably add a query tag, and handle it inside a a `query_TAG_alter()`. If you'd be able to generalize it for RESTful, it could be useful :)

[2015-05-07 19:51] iStryker opened #508 "Need to Clear Cache twice before finding new endpoint"
This is for 1.x.  It might not be a problem in 2.x. This is minor, but thought it should be documented.  If there is a quick fix for this, then lets implement it...if not then we can probably close it, with won't fix.

You create new endpoint by creating the endpoint__1_0.inc and then the RestfulEndpointResource class.
If you do not clear the cache, if you browse to http://[site]/api/v1.0/endpoint

[2015-05-08 12:27] reszli commented on #501
Help, I need somebody
Help, not just anybody
Help, you know I need someone
(The Beatles - Help!)

[2015-05-08 14:49] thebruce opened #509 "HAL _embedded and _links for Entity References improvements"
Hi there - ok, so in some recent work with RESTful I came across some confusing _embedded behavior, let's say you had multiple fields on an entity that were all entity reference fields but linked to the same entity. Probably not the most common case, but - if you express these items as embedded resources they are all placed in the same embedded key, the name of the resource.

The context of their

[2015-05-08 23:43] thebruce commented on #509
Just thinking through this a bit more, to clarify, i think the "rel" part of the public field info would be useful for embedded resources even outside of _embedded for hal,  in other content types besides hal that have hypermedia (hateoas) support where "rel" describes the relation.  This could allow you to name a resource endpoint but when that resource is embedded in other resources to be able t

[2015-05-15 19:03] mojzis opened #515 "Caches (that arent set) are deleted umpty times"
I keep hoping i am not right and i miss a little detail somewhere ...
We have an entity thats being updated rather often and has nothing to do with restful. We are dealing with plenty requests to `delete from restful_cache`, referencing that entity.
From the code it looks like on every entity update, a cache clear is attemtped for **every endpoint plugin** there is, resulting in loads of delete st

[2015-05-17 14:56] rw355 commented on #405
Having this problem when do POST. It seems a problem with entity module though.

[code]

[2015-05-18 22:40] rw355 opened #518 "Anyway to filter Taxonomy term's language"
I created a Taxonomy term resource by extends \RestfulEntityBaseTaxonomyTerm

I noticed that entity wrapper of taxonomy term doesn't have language at all. But property parents_all[0]->language has the language...

I tried to do filtering like this: ?filter[parents_all][0][language]=en, it returns

SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check t

[2015-05-21 10:19] jmdall commented on #508
I simply do "drush rr" (registry rebuild) once and it work correctly for me but i'm using 2.x.

[2015-05-25 02:28] markdorison commented on #313
@mateu-aguilo-bosch Your code makes sense but how would one integrate this with Restful to allow for filtering via a URL request?

[2015-05-25 13:24] e0ipso commented on #313
@markdorison you would certainly need to override some of the resource methods inside the `\RestfulBase` or `\RestfulEntityBase` class.

Essentially if you need to load (or filter) by alias, you override the appropriate method and calculate the entity ID. The you just return a call to the parent.

Maybe something like:

[code]

[2015-05-25 13:26] e0ipso commented on #313
@markdorison I would appreciate, if you succeed at this, that you took the time to post a more detailed example/recipe in the recipes section: https://www.drupal.org/node/2380679

[2015-05-25 13:49] iStryker commented on #313
I had to do this for one project I worked on.

[code]

[2015-05-25 14:00] iStryker commented on #313
This is a little off topic, but probably relate (and maybe if you create example recipe you will include this as well).

Since the 'self' links points to api self link, and not the node inself,  on the same project we added the follow.

[code]

We did not need a filter on the source.  I do not think many would either.  Just the alias.

**Our reason for having a filter on the alias:**
Your app has

[2015-05-25 14:53] e0ipso commented on #313
Thanks again @iStryker!

[2015-05-26 22:20] rw355 commented on #518
I realized this should not filter by this way. The vocabulary's multilingual setting should set to translate and append langcode to endpoint, it would give you all terms under that languages.

[2015-05-26 22:20] #518 closed, assigned to nobody

[2015-05-27 19:01] amitaibu opened #521 "Add watchdog message upon \REstfulException"
Currently our exceptions are inside try/catch so they never reach the logs

[2015-05-28 11:51] ceoaliongroo opened #523 "Get a resource with access_token as parameter return 'Bad credentials'"
![screen shot 2015-05-28 at 2 48 49 pm](https://cloud.githubusercontent.com/assets/2622152/7859362/f14d992a-0548-11e5-81fd-82697a541014.png)

[2015-05-28 15:40] ceoaliongroo commented on #523
Closing the issue, was a local version issue. Solved getting the lastest statble version of restful from drupal.org

https://github.com/Gizra/negawatt-server/issues/551

[2015-05-28 15:40] #523 closed, assigned to nobody

[2015-05-29 08:36] e0ipso opened #525 "2.x Make sure CookieAuthentication::isCli works properly."

[2015-05-29 10:01] e0ipso opened #526 "2.x Make sure 403 and 401 exceptions are thrown correctly"
I've seen that in 2.x there are several occasions where we are throwing `ForbiddenException` where we should be throwing a 401.

[2015-05-30 16:52] doodirock opened #528 "Documentation for cross domain authentication"
First off, amazing modules.  Building custom APIs has been a joy!  I currently have an app that runs on another domain EG:

www.drupal-install.com

www.app-here.com

Are there any examples out there on how to have users log-in to drupal via other domains?  I didnt see anything in the readme and cant really find any examples out there.  I know RESTws lets you log in with  the restws user, but this

[2015-05-30 17:13] amitaibu commented on #528
Check the "yo hedley " project,  which scaffolds a fully decoupled Drupal
with an angular client. Login with access token is part of it
On May 30, 2015 7:52 PM, "Joel Albert" notifications@github.com wrote:

[2015-05-30 17:34] doodirock commented on #528
Thanks @amitaibu

This works well cross domain I assume?  I'll give it a whirl today!

[2015-05-31 02:43] badri opened #529 "Allow only specific methods"
Hi
Is it possible to create resources which allow only specific methods, like "I can do only GET of these users" for example? How do I impose that constraint?

[2015-06-01 04:18] e0ipso commented on #529
Can you elaborate? I am not sure what you are trying to accomplish.

[2015-06-01 04:46] amitaibu commented on #529
This is controlled by the $controller - you can see it in action in
different example resources
On Jun 1, 2015 7:18 AM, "Mateu Aguiló Bosch" notifications@github.com
wrote:

[2015-06-08 11:45] martincollar commented on #376
Hello everyone! I can't find the way how to POST/PUT/PATCH entity with field collection, can you help me please?

[2015-06-08 15:56] mpetrovic opened #531 "Properties that are Lists of content return null when empty, should return empty array?"
When a property is expected to return multiple items (i.e. taxonomy terms on an entity), restful returns null if a given entity has no items.

It would be cleaner for consumers if these properties returned an empty array. Consumers would be able to interact with it the same, regardless of whether it has content or not.

Currently, extra checks are required to make sure it's not NULL, or to initial

[2015-06-08 16:21] iStryker commented on #531
I think this is correct.  It should return NULL.  From what I understand, this is how APIs work.  It is not much extra work to check if it is NULL or not.

[2015-06-09 08:00] e0ipso commented on #531
I agree. We should not be coding the backend based on the awkwardness of javascript with variable polymorphism, since we don't want to favor a single frontend technology.

Besides, it makes sense to me to have a NULL value if there is nothing to show.

[2015-06-09 08:55] martincollar commented on #376
OK, I get it to work for PUT/PATCH (not POST)... feel free to correct me if there is better way how to do it..

on my field collection entity resource I created presave where I had to set host entity to each collection item

[code]

on my  parent entity resource I have to pass id of entity to reference handler...

[code]

payload example:

[code]

[2015-06-10 16:02] inventsimple commented on #300
@tomflanagan - Any advice on how you went about exposing the menu items with your restful class?

[2015-06-10 16:27] iStryker commented on #300
I just did this.

Download and enable https://www.drupal.org/project/entity_menu_links with 2222467-6.patch

Create
/plugins/restful/RestfuEntityBaseMenu.php:

[code]

Then just extend it
RestfulMainMenuResource.class.php

[code]

main_menu__1_0.inc

[code]

[2015-06-12 14:50] inventsimple commented on #300
Hey sorry for the late reply. Thanks for the help. Worked like a charm!

[2015-06-12 19:25] timwood opened #532 "Taxonomy term is an object instead of array?"
In a node-based API, I was attempting to customize the field output of a referenced taxonomy term using a function similar to imageProcess from some of the example code that ships with the module. Unfortunately when I try this I get the following error:

When debugging the variable output seems to be an array of the referenced terms but each term is an object instead of another array. In compariso

[2015-06-12 20:10] timwood commented on #532
Looks like the suggestion in https://github.com/RESTful-Drupal/restful/issues/353#issuecomment-80144333 works! Also, I didn't realized the term doesn't include an uri or url, so obviously that field doesn't work in the second part of my code.

Still curious if anyone knows why the term object is so different.

Also, is there some recommended way to output a link to a corresponding API for referenc

[2015-06-13 05:53] e0ipso commented on #532
@timwood the recommended way is to create an extra resource for taxonomy terms and use it inside your node resource.

In your taxonomy term resource you can define the exact output that you want inside your node.

There is an example exactly about that in https://github.com/RESTful-Drupal/restful/blob/7.x-1.x/modules/restful_example/plugins/restful/node/articles/1.5/RestfulExampleArticlesResource_

[2015-06-16 00:07] wundo opened #533 "Fatal error: Call to a member function value() on null in RestfulEntityBase.php on line 393"
This happens when I add non-required text field in my \RestfulEntityBaseNode::publicFieldsInfo() implementation.

It happens on the latest dev from drupal.org (datestamp = "1433146082")

Adding the following to the RestfulEntityBase.php fixed it:

[code]

Am I missing something or should I submit a PR?

[2015-06-16 15:37] wundo opened #534 "Documentation: How to handle multiple versions of the same resource"
I remember @mateu-aguilo-bosch mentioning about multiple versions support during Drupal Developer Days in Montpellier but I cannot find any mention about how to handle it in the documentation :(

Can someone help out?

[2015-06-17 00:50] badri opened #536 "custom GET parameters"
Hi
How do I add custom GET parameters like

`GET /endpoint/123?locale=en` other than the usual ones like "solr" and "filter".

[2015-06-17 19:21] amitaibu commented on #536
Not sure what you mean? to access the GET params you can use `$this->getRequest()`

[2015-06-17 19:23] amitaibu commented on #534
To create versioned resources see the example module (e.g. the `articles` resource) -- https://github.com/RESTful-Drupal/restful/tree/7.x-1.x/modules/restful_example/plugins/restful/node/articles

To access the resources -- https://github.com/RESTful-Drupal/restful#getting-the-default-restful-handler-for-a-resource

[2015-06-17 19:23] #534 closed, assigned to nobody

[2015-06-17 19:24] amitaibu commented on #533
I believe you should actually get a 500 error from entity API `property foo doesn't exist` (or something similar).

[2015-06-17 19:26] wundo commented on #534
I've just figured out how to do it looking at the source code, I will submit a PR (the documentation only mentions the minor_version)

[2015-06-17 19:26] wundo commented on #534
Thanks @amitaibu

[2015-06-17 19:27] wundo commented on #533
@amitaibu the property exists and I can see it doing a $node load and them a kpr

[2015-06-17 19:29] wundo commented on #533
this is how it shows in dpm: ![screenshot 2015-06-17 16 28 46](https://cloud.githubusercontent.com/assets/113942/8216602/f643e568-150d-11e5-958b-ba9667725e5c.png)

[2015-06-17 19:32] amitaibu commented on #533
The property should be defined for the EntityMetadataWrapper (`hook_entity_property_info`)

[2015-06-17 19:32] #533 closed, assigned to nobody

[2015-06-18 10:20] fotuzlab opened #537 "Using Entity reference for users reference"
This may be a noob question, I am not able to expose entity reference field for users. For node reference it works fine.

I think problem lies in my declaration but I am not able to figure it out.

[code]

Can anyone please help me here?

[2015-06-19 20:17] adam-s opened #538 "How do I serve a headless Drupal app and how do I properly authenticate a user?"
I'm not sure the best place to ask this question. I've been looking at this module and the opensource project [Negawatt](https://github.com/Gizra/negawatt-server) for information how to use them.

How do serve a headless Drupal app? Do I run a node.js server or do I set ng-app within a Drupal template?

I'm asking because I'm thinking about the best way to authenticate a user and create a persiste

[2015-06-20 03:01] edhollinghurst commented on #459
Is there any chance you could explain how you would authenticate a user for a custom action?

Thanks!

[2015-06-20 16:34] amitaibu commented on #538
You can look at "yo hedley" it scaffolds a headless drupal that includes
authentication and organic groups.
On Jun 19, 2015 11:17 PM, "adam-s" notifications@github.com wrote:

[2015-06-20 17:23] amitaibu commented on #538
btw @adam-s how did you find Negawatt? :)

[2015-06-20 17:24] amitaibu commented on #537
Did you define a resource called `doctors`?

[2015-06-20 17:24] amitaibu commented on #459
Should be as simple as [this](https://github.com/RESTful-Drupal/restful/blob/7.x-1.x/modules/restful_example/plugins/restful/node/articles/1.0/articles__1_0.inc#L11-L12) line(s)

[2015-06-20 17:24] #536 closed, assigned to nobody

[2015-06-20 17:25] #532 closed, assigned to nobody

[2015-06-20 17:26] edhollinghurst commented on #459
Oh yes... thanks!

[2015-06-20 17:27] amitaibu commented on #529
See example - https://github.com/RESTful-Drupal/restful/blob/f0f981a8552a8c8b429bce2991d06e551661adff/tests/modules/restful_test/plugins/restful/node/test_articles/1.4/RestfulTestArticlesResource__1_4.class.php#L10-L23

[2015-06-20 17:27] #529 closed, assigned to nobody

[2015-06-20 17:27] amitaibu commented on #528
Yes, because you authenticate using an access token, not cookies. You just need to enable CORS from your server (this is taken care of by hedley)

[2015-06-20 17:27] #528 closed, assigned to nobody

[2015-06-20 17:28] amitaibu commented on #531
:+1:

[2015-06-20 17:28] #531 closed, assigned to nobody

[2015-06-20 17:50] adam-s commented on #538
I found Negawatt by looking at repositories of people involved with RESTful looking for better examples of how to use it. Very cool stuff. Installing hedley was easy enough.
1. You are using angular-local-storage.js to store the authentication token on the client. I've been reading that this opens security risks because third party script have access to the token and can use it. What is a secure w